[2020-09-16 21:09] henon opened #10 "Table"
There are a lot of features that can be implemented for table:
- [x] SimpleTable (no features, very simple use)
- [x] Pagination
- [x] Filtering
- [x] Useing &lt;td> instead of &lt;MudTableCell> is supported
- [x] better Dark Mode support
- [x] fixed Header
- [x] Single selection
- [x] Multi-Selection (with CheckBoxes)
- [x] Sorting

For later:
- [ ] Expandable rows
- [ ] Virtualization

[2020-09-17 20:29] henon opened #11 "Style param for all components"
Implemented for Buttons.
Base class `MudComponentBase` still needs to be added to all components and  `style="@Style" ` to their div

[2020-09-20 19:56] henon commented on #11
Done.

[2020-09-20 19:56] #11 closed

[2020-09-23 05:08] Garderoben opened #16 "Tabs"
Needs more examples and different options

[2020-09-23 05:08] Garderoben opened #17 "Dialog"
**Documentation page needs at least this exampels**
- [x] Sending and Reciving data from dialogs
- [x] Document how to use Dialog options and some examples.

[2020-09-23 05:13] Garderoben opened #18 "Accordion / Expander"

[2020-09-23 05:21] Garderoben opened #19 "Web font icon support"
Add support for Web Font icon for the MudIcon component.

- [x] Documentate normal usage with built in SVG's
- [x] Material Icons
- [x] Font Awesome
- [x] Document how to use Web Font Icons

[2020-09-23 09:27] Garderoben opened #20 "Toaster"
**_toaster.scss**

- [x] Go through it, simplify it
- [x] Remove sass vars, add mud theme css vars
- [x] Fix sizing problems with close button

**Component**
- [x] Rename to snackbar and extend functionality?

**Documentation page**
- [x] Different Severity examples
- [x] Positioned example
~~- [ ] Progress bar example~~
- [x] Close Button & Require interaction examples
- [x] Action on click examp

[2020-09-24 09:32] Garderoben opened #21 "Radiobutton"
Implement Radiobutton

[2020-09-25 13:17] #21 closed

[2020-09-26 07:02] #20 closed

[2020-09-26 11:51] #19 closed

[2020-10-06 21:28] Garderoben opened #26 "Vuetify like spacing classes"
Vuetify like spacing css classes

- [x] normal padding/margin
- [x] documentation for normal
- [x] negative padding/margin
- [x] documentation for negative

[2020-10-06 21:29] Garderoben opened #27 "Tooltip"
Implement tooltip component

With delay option and different positions.

[2020-10-06 21:30] Garderoben commented on #27
Done

[2020-10-06 21:30] #27 closed

[2020-10-06 21:31] Garderoben opened #28 "Slider component"
Starting with:
Basic CSS styled HTML slider, with steps option.

[2020-10-06 21:32] Garderoben commented on #28
Done

[2020-10-06 21:32] #28 closed

[2020-10-06 21:35] Garderoben opened #29 "Select component"
Basic select component with textfield options.

[2020-10-06 21:36] Garderoben commented on #29
Done

[2020-10-06 21:36] #29 closed

[2020-10-08 06:16] Garderoben commented on #16
Done, re did the base component design, added Simple, Disabled, Centered, Vertical and Icon Tabs examples in docs.

[2020-10-08 06:16] #16 closed

[2020-10-09 11:14] Garderoben commented on #26
Done, fully implemented + documented.

[2020-10-09 11:14] #26 closed

[2020-10-10 02:45] Garderoben commented on #18
Done Implemented with Multi, Single expand and Disabled.

[2020-10-10 02:45] #18 closed

[2020-10-10 02:53] Garderoben opened #31 "Add Toggle function to IconButton"
Add Toggle function to Button/ButtonGroups

[2020-10-10 02:54] Garderoben opened #32 "Menu"
Add Menu component, probably based on MudSelect?

[2020-10-10 02:55] Garderoben opened #33 "Progressbar"
Add Progress component

[2020-10-10 08:10] Garderoben commented on #17
Done for now, all basic functionality is there for first release.

[2020-10-10 08:10] #17 closed

[2020-10-10 21:47] Garderoben commented on #33
Done Progress component added with Circular and Linear both indeterminate and determinate

[2020-10-10 21:47] #33 closed

[2020-10-11 02:19] Garderoben commented on #32
Done, implemented with both button and icon button. Documented and examples on all cases.

[2020-10-11 02:19] #32 closed

[2020-10-12 08:54] henon opened #35 "Table: hover not working in Firefox"
this was reported by a friend of mine. he doesn't see the hover. we need to check

[2020-10-13 10:58] Garderoben opened #36 "Static Alerts"
Static Alert component

[2020-10-13 18:47] Garderoben commented on #36
Implemented fully.

[2020-10-13 18:47] #36 closed

[2020-10-18 13:12] Garderoben opened #39 "Date Picker"
Implement Date Picker

- [x] Base component
- [x] Design
- [x] Inline version
- [x] Static version
- [x] Dialog version

- [x] Actual functionality with actual picking dates

[2020-10-18 18:24] Garderoben opened #40 "Add prepend-icon and append-icon to MudTextField"
Adding support for prepend-icon and append-icon for MudTextField component

[2020-10-20 03:18] IvanJosipovic opened #44 "Support for EditForm and built in validation"
Will this library support the built in EditForm and associated validation mechanism?
https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1

[2020-10-20 05:43] Garderoben commented on #44
Yes that is the "plan" me and @henon haven't made a list yet but was talking about creating some form of roadmap to see whats coming next.

[2020-10-20 05:45] Garderoben commented on #35
Works fine in Firefox has to do with screen calibration, colors/contrast or special screen modes. My friend had his screen set to "gaming" and could not see any hover effects, after changing it works fine.

[2020-10-20 05:45] #35 closed

[2020-10-20 06:49] henon commented on #44
Definitely yes. I think it is a very important feature and shouldn't be too hard to implement

[2020-10-22 21:59] Garderoben commented on #40
Done!

[2020-10-22 21:59] #40 closed

[2020-10-22 22:01] Garderoben commented on #39
Base component done with all design, will do Dialog one later.
The "picker" base should be ready to accept TimePicker later on, or at least i tried to build it with that in mind.

[2020-10-23 14:29] henon opened #49 "Select: click on the little triangle on the right doesn't open it"
![image](https://user-images.githubusercontent.com/44090/97016298-ddee1e80-154c-11eb-9331-885352208370.png)

it only opens when you don't click the triangle

[2020-10-24 17:20] henon opened #51 "Docs: API add a column for the default value of properties"

[2020-10-26 18:27] henon opened #53 "Add CONTRIBUTING.md"
- [x] Document Web Compiler dependency

[2020-10-26 18:34] Shusty-6th commented on #53
- [ ] How use/how works Docs Compiler

[2020-10-27 07:56] henon opened #54 "Docs: Make the code examples horizontally scrollable if lines are too long"

[2020-10-27 09:13] henon commented on #44
Ok, we have basic EditForm support now: https://mudblazor.com/components/forms

But currently it is limited to inputs of type <string>. You said it would be good to support type parameters. I was just now learning about built-in validation and lack deeper knowledge of the field. Can you give me some good examples for non-string validation?

[2020-10-27 09:15] henon commented on #39
Datepicker is fully functional now: https://mudblazor.com/components/datepicker

[2020-10-27 09:15] #39 closed

[2020-10-27 09:20] henon opened #55 "Date picker: dialog version"
As said in #39, we'll add a dialog version DatePicker later. Right now, everyone can do it themselves by combining Dialog with DatePicker, but ultimately we want to feature a readymade.

[2020-10-27 09:22] henon opened #56 "Form docs: replace custom classes with user-available classes"
![image](https://user-images.githubusercontent.com/44090/97281829-40416a80-183e-11eb-97fa-9c450c94e416.png)

my-4
justify-center
we have those classes already
we should add a text-center class
then add Card parameter Width="400px" and we are done
also for the button: ml-auto
padding-bottom: 20px is pb-5

[2020-10-27 09:24] henon opened #57 "Docs: document the responsive flex classes"
We have all the responsive flex classes like Vuetify has them: https://vuetifyjs.com/en/styles/flex/

In the Docs we need a similar page for them because they are mighty useful and people should know about them

[2020-10-27 09:26] henon opened #58 "Add badges"
Like here https://vuetifyjs.com/en/components/badges/

[2020-10-27 09:28] henon opened #59 "Add Chip and Chipset"
Chip: https://vuetifyjs.com/en/components/chips/#usage
ChipSet: https://vuetifyjs.com/en/components/chip-groups/

[2020-10-27 09:30] henon opened #60 "Form validatable Checkbox"
The idea is to add Label, HelperText and ErrorText to Checkbox and display them when it is not Dense which should be default. So in a form you set Dense="false" (or HideDetails="false" ?) and then it will show validation errors.

[2020-10-27 09:32] henon commented on #10
Table has been fully functional for a while: https://mudblazor.com/components/table

[2020-10-27 09:32] #10 closed

[2020-10-27 16:33] IvanJosipovic opened #61 "WebCompiler files are packed in nuget package"
These two files appear when adding the MudBlazor Nuget package. I don't think they should be in the nuget package.

![image](https://user-images.githubusercontent.com/9521987/97331956-2c463a80-1837-11eb-8ec5-0828c1a643c3.png)

[2020-10-27 18:33] Garderoben opened #63 "Broken Icons that had multiple SVG paths"
Broken Icons that had multiple SVG paths.

Will have to re,do my import and probably change how we load them?

[2020-10-27 20:55] Garderoben commented on #61
Done, committed to master, and will not be in next nuget.
https://github.com/Garderoben/MudBlazor/commit/1c934cd9305bbc1fad66c2cb878e558d95a350b4

[2020-10-27 20:55] #61 closed

[2020-10-28 12:11] henon opened #65 "Docs: Table API is broken."
https://mudblazor.com/api/table

probably because of the type parameter

[2020-10-28 20:57] Shusty-6th opened #68 "Add rating component"
Can I be assigned to do such a component?

[2020-10-28 21:03] henon commented on #68
Here you go :)

[2020-10-28 22:00] henon commented on #53
I added the file. Let me know if it is clear or if you think anything else is missing

[2020-10-28 22:15] Garderoben commented on #68
Sure, hit me up if you wonder anything, gonna try get the collab docs up this week.

[2020-10-28 23:55] Shusty-6th commented on #53
"Do your best to avoid using javascript. Best of all, don't even think about using it."   😁

[2020-10-29 05:52] Garderoben opened #69 "Redesign theming and customization options"
I will start redesignen the Themeprovider, specificly all root CSS vars, go thru every scss file and make sure they apply everywhere.
I will also look on how we can implement more options to the Themeprovider.

**1. Primary Task**
- [x] Rework the CSS root vars.
- [x] Go thru SCSS files make sure they apply everywhere.
- [x] Create more mixins/sass functions to get cleaner code.
- [x] Write more d

[2020-10-29 11:46] HClausing commented on #69
This is a really nice features list.

Well, about Theme Generator, Do you think that it needs to be created on blazor too? I ask because I've built a tool for it on a MaterialDesign library for WPF [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/pull/2021).

On blazor I don't know how to work with color picker, but I can try to learn.

[2020-10-29 14:31] Garderoben commented on #69
@HClausing
I have working color picker local already, just havent had time to migrate it but the idea is to use the MudPicker for it, as we used it for TimePicker and DatePicker.

[2020-10-29 14:32] Garderoben commented on #59
Chips is done, merged into master, tell me if you need anything more.

[2020-10-29 18:06] Shusty-6th commented on #68
I started today working on a component and I did not expect that so much detail should be taken care of in such a simple control. A lot of functionality like binding is still missing, but I'll finish it in my spare time.

![rating](https://user-images.githubusercontent.com/7383088/97614045-be0d9d80-1a19-11eb-9255-17a565ba2e7a.gif)

[2020-10-29 19:18] Garderoben commented on #68
Cool, nice job! what fork/branch do you have it in would love to test it out a little early ;)

[2020-10-30 09:57] Flaflo opened #74 "Tables missing virtual scroll feature"
A very important feature for the tables is missing: virtual scroll.

Is it possible to implement that?

[2020-10-30 10:00] Flaflo commented on #74
Nvm was looking into the projects kanban, it looks like its under development.

Case closed.

[2020-10-30 12:04] henon commented on #74
Yes, we planned for it, but it is not currently under development, so I am reopening the issue.
There are some resources we can use to implement this:
 - https://github.com/amuste/DnetVirtualScrolling
 - https://github.com/SamProf/BlazorVirtualScrolling

[2020-10-30 12:56] HClausing opened #76 "MudMenu on TableRow"
Hello all,

I was testing the Menu component into a table, but I've seen that the popup menu coordinates didn't wok as expected. Example below:

![menu](https://user-images.githubusercontent.com/15158923/97707440-0ec2dc00-1a96-11eb-9faa-82efaedabc51.gif)

I took a look on source code, but didn't figure how to fix yet.

[2020-10-30 13:36] Garderoben commented on #76
I'll look into it right away.

[2020-10-30 16:35] ChristianWeyer opened #77 "Examples (for project starters/templates)"
Hey team,

first, congrats on this wonderful project!
This looks awesome and very promising. Customers start to jump onto it for their Blazor applications :-)

One question, do have a timeline (or idea of it) when the samples will be available?

![image](https://user-images.githubusercontent.com/888718/97732003-29b54080-1ad6-11eb-80b3-85c3f4affe97.png)

Thanks - and keep up the great work.

[2020-10-30 19:59] Garderoben commented on #58
Done, https://github.com/Garderoben/MudBlazor/commit/5909df94524a203580af59b90940942399efb0c5

[2020-10-30 19:59] #58 closed

[2020-10-30 20:01] henon commented on #77
Hi @ChristianWeyer, we are still working on adding some more crucial components / features before adding the examples. In the meantime you can check out https://mudblazor.com

It is full with little interactive examples how to use the components.

Or maybe you want to get to know the lib and make a cool example which we can put up there?

[2020-10-30 21:50] Garderoben commented on #76
Fixed, pushed to master, also added Dense option to MudMenu.
![image](https://user-images.githubusercontent.com/10367109/97759692-d5c05100-1b01-11eb-8b9e-2c133cbb70f2.png)
![image](https://user-images.githubusercontent.com/10367109/97759754-f12b5c00-1b01-11eb-83e9-c7502ac5bfe6.png)

[2020-10-30 21:52] Garderoben commented on #76
Fixed with commit: https://github.com/Garderoben/MudBlazor/commit/6e11fd65d449f62708becdcf17578440cf7f6529

[2020-10-30 21:52] #76 closed

[2020-10-30 23:20] Shusty-6th commented on #68
@Garderoben
I added some more functionality. The code, of course, requires completion, refactoring, documentation and testing.

At this stage of work,, please check if I am going in the right direction.
For now, I'm testing the in doc https://localhost:44399/components/rating

https://github.com/Shusty-6th/MudBlazor/tree/ratings

Maybe you'll be able to help me too, because for now I'm struggling

[2020-10-30 23:26] Shusty-6th commented on #68
![rating](https://user-images.githubusercontent.com/7383088/97764678-b8927f00-1b0f-11eb-9e77-a9f8285f678c.gif)

[2020-10-31 07:19] henon commented on #68
Looks great!

[2020-10-31 08:14] Garderoben commented on #68
Yepp, looks really good!

[2020-10-31 19:04] #53 closed

[2020-10-31 19:07] Shusty-6th commented on #68
Open PR #79

Demo:
![rating](https://user-images.githubusercontent.com/7383088/97787798-9f8fd980-1bb4-11eb-8f5f-fe9c2cad517c.gif)

[2020-10-31 19:08] henon commented on #44
Since now we have TextField<T> all types are possible. I think the only thing that is missing are more form components that support form validation. Right now we have only:
- [x] TextField<T>
- [x] Select<T>
- [x] Input<T> (basically like TextField but without Label, HelperText and Error)

We are missing:
- [ ] Autocomplete
- [ ] a validatable variant of Checkbox
- [ ] validation on RadioGroup?

a

[2020-10-31 20:36] henon commented on #65
fixed

[2020-10-31 20:36] #65 closed

[2020-11-02 14:06] Garderoben commented on #68
Its merged to master, tested and checked. will be in the new release today.

[2020-11-02 14:06] #68 closed

[2020-11-02 14:10] henon commented on #49
fixed

[2020-11-02 14:10] #49 closed

[2020-11-03 22:13] Garderoben commented on #54
Started working on it today, should be done tomorrow.

[2020-11-04 02:39] Garderoben commented on #54
Done: https://github.com/Garderoben/MudBlazor/commit/508b6eea01ddde3496abc375489eff73b2aff966

[2020-11-04 02:39] #54 closed

[2020-11-04 02:45] Garderoben commented on #57
Will do before: https://github.com/Garderoben/MudBlazor/issues/69
i'm gonna scrap/redo  _flex.scss to take better use of sass and rebuild it with functions/mixins.

[2020-11-04 02:46] Garderoben commented on #56
Will do before: https://github.com/Garderoben/MudBlazor/issues/69

[2020-11-04 02:52] Garderoben opened #84 "Docs: Expand spacing documentation with responsive classes"
Expand spacing documentation with responsive classes

Will do before: https://github.com/Garderoben/MudBlazor/issues/69

[2020-11-04 08:50] Garderoben commented on #84
Done, in master now with commit: https://github.com/Garderoben/MudBlazor/commit/aa0445eb28cd1542193c73e7e3f093cacb19cdbf

[2020-11-04 08:50] #84 closed

[2020-11-04 16:52] MattChique opened #85 "MudTabs missing scroll feature"
Hi there,

If tabs grow out of parent container, there is no possibility to scroll.
A left/right button would be perfect at an overflow.

[2020-11-04 16:53] MattChique opened #86 "MudTabs missing scroll feature"
Hi there,

If tabs grow out of parent container, there is no possibility to scroll.
A left/right button would be perfect at an overflow.

[2020-11-04 17:55] porkopek opened #87 "Chip OnClose is never invoked"
Hi guys!
First of all, awesome job and beautiful components! Thanks!

The Chip component never invokes the user's OnClose handler. I think the issue is in this method

[code]
Instead of  `await OnClick.InvokeAsync(ev);` should be `await OnClose.InvokeAsync(ev);`

[2020-11-04 18:17] henon commented on #87
ok. I'll fix that. I am adding a chipset also, so you can use chips to modify a selection

[2020-11-04 18:41] Garderoben commented on #86
Closing this one, seems to be double of https://github.com/Garderoben/MudBlazor/issues/85

[2020-11-04 18:41] #86 closed

[2020-11-04 19:49] henon commented on #85
here is how Vuetify handles overflowing Tabs: https://vuetifyjs.com/en/components/tabs/#custom-icons

[2020-11-04 21:17] henon commented on #87
@porkopek I am adding a Deleted property to chip which will completely remove it from the render tree once the close icon has been clicked. You'll get the close event before that of course. Do you agree with this logic?

[2020-11-04 21:29] porkopek commented on #87
Do you think is necessary the Deleted property? I think that the caller should remove the chip not rendering it.
In my logic, I have a list of labels, each one of which renders a chip. So, what I'm doing is `OnCloseHandler `remove the label from the list, so the next time the list is rendered, the removed label is not present
I think that the only thing you need to change is invoke `OnClose` event

[2020-11-04 21:43] henon commented on #87
Yes, that is ok. You remove the chip from your list. Doesn't matter that I also have a default behavior which would not render that chip which you are removing anyway. And yes, only OnClose will be invoked, not OnClick.

[2020-11-05 08:38] MattChique opened #88 "Add multiline/textarea feature to MudInput"
Like https://quasar.dev/vue-components/input#Textarea

[2020-11-05 09:00] porkopek commented on #87
Just out of curiosity, what do you need that property for? I think that the rendered elements should correspond to a model. That is, if the user closes the chip, it means she removes it from the model, right? If you have a chip on the screen in a non-visible state (Deleted), how would you re-open it?  I think it is the consumer's obligation to remove the property (put it to default value or null)

[2020-11-05 09:06] Garderoben commented on #88
@MattChique are you working on it or you request it? so i dont start on something you are working on :)
Btw notice you forked, please pull latest master, the one you got had a bad merge from me that basically removed allot of the new stuff.

[2020-11-05 09:38] Garderoben opened #89 "Add AutoClose Drawer on navlink change/click"
Add AutoClose Drawer on navlink change/click

[2020-11-05 11:10] Flaflo commented on #88
Hi! We are working on the same project, it would be very great if you could add it :)

We would consider to contribute back in the future, this project is just amazing!

[2020-11-05 11:11] Flaflo commented on #85
Here is Qasars approach: https://quasar.dev/vue-components/tabs

[2020-11-05 12:07] MattChique commented on #88
@Garderoben Now i am working on

[2020-11-05 12:15] Flaflo commented on #85
Working on this one now 👍🏻

[2020-11-05 12:20] henon commented on #87
You make a valid point.

[2020-11-05 12:39] Garderoben commented on #88
@MattChique Awesome, i was gonna try to squeeze it in today but that's great, hit me up here or on Gitter if you have any questions or need help with something.

[2020-11-05 15:07] MattChique commented on #88
#90

[2020-11-05 16:09] Garderoben commented on #57
Done, commit: https://github.com/Garderoben/MudBlazor/commit/e9ef40c8faad80fd07b5e0385b7191aa668c51b3

[2020-11-05 16:09] #57 closed

[2020-11-05 18:11] T-Alkathiri opened #92 "Rtl Direction Support"
Hi every body, I would like to use this good tools in my blazor applications
but I have a question
Dos it support localization and RTL direction and also responsive?
because it is for me a very essential issue.
Thank you very much.

[2020-11-05 18:21] henon commented on #92
How is this working normally with other libraries you know? Does RTL automatically take effect when the current UI culture is RTL? Is there a need for switching RTL on for individual components?

[2020-11-05 18:58] henon commented on #87
The bug is fixed and merged into master. We'll hopefully release a build today

[2020-11-05 19:43] porkopek commented on #87
Great!
Thank you very much!

[2020-11-05 21:42] Garderoben commented on #88
@MattChique @Flaflo Thanks and great work, i just uploaded version 1.1.1 as nuget package with your PR and some other minor stuff. https://www.nuget.org/packages/MudBlazor/1.1.1

Website update will come in a few min.

[2020-11-05 21:42] #88 closed

[2020-11-05 21:44] Garderoben commented on #87
@porkopek its in version 1.1.1 i just uploaded it.
https://www.nuget.org/packages/MudBlazor/1.1.1

Website update will come in a few min.

[2020-11-05 21:44] #87 closed

[2020-11-05 21:44] Garderoben commented on #59
Done and implemented in version 1.1.1
https://www.nuget.org/packages/MudBlazor/1.1.1

[2020-11-05 21:44] #59 closed

[2020-11-05 21:49] porkopek commented on #87
Thank you. I already updated the package and it's working as intended.
By the way, huge work you both are doing

[2020-11-06 11:51] Bimble opened #94 "Drawer Anchor.Right does not work"
Will stick to the left, see:
https://try.mudblazor.com/snippet/QkvluUlP500GbmsU08

[2020-11-06 11:54] T-Alkathiri commented on #92
I have used DexExpress blazor Data Grid component, and i believe  there is RTL property you assign true or false to it.
Thank you very much.

[2020-11-06 22:23] Garderoben commented on #94
Ah, missing a class i will fix it!

[2020-11-06 22:58] Garderoben commented on #94
@Bimble  And fixing it breaks all our doc examples i dont have time for that tonight but i will continue tomorrow i need to setup the docs examples in iframes i think.

Also been working all day on the new themeprovider to make sure darkmode and custom themes works 100%. This will go little hand in hand with that since im doing changes  to both appbar and the drawer.

[2020-11-07 00:07] Garderoben commented on #92
@T-Alkathiri is this what you want? if so i can implement a first version of it, but might need your help to check so everything works as intended.
![image](https://user-images.githubusercontent.com/10367109/98425451-6c0ded00-2095-11eb-92e7-272804907fae.png)

[2020-11-07 03:24] Garderoben commented on #94
@Bimble no sleep so i fixed it with commit: https://github.com/Garderoben/MudBlazor/commit/b878f361249fb5d16fb76aaa3ce3fb83208f6a04
In master now, i will add anchor examples to docs in a min.

[2020-11-07 18:57] T-Alkathiri commented on #92
Yes this is exactly what it should be, and it will be much better if you
can localize it.
Thank you very much.

On Sat, Nov 7, 2020 at 3:07 AM Jonny Larsson <notifications@github.com>
wrote:

[2020-11-07 19:03] henon commented on #92
The table strings are already localizable. When you look at the [MudTablePager](https://github.com/Garderoben/MudBlazor/blob/master/src/MudBlazor/Components/Table/MudTablePager.razor.cs) the following properties are for localizing the "Rows per page" string and the "1-10 of 88" string:

- RowsPerPage
- InfoFormat

Is that enough?

[2020-11-07 20:53] Garderoben commented on #92
@T-Alkathiri Okay i will add it a bit later today to master branch.

[2020-11-08 03:44] danglingneuron commented on #92
Hi, I just started a blazor wasm project that involves arabic so its RTL (barebones bootstrap) and its a pain. Just found MudBlazor - transitioning right away and would love support for RTL.

[2020-11-08 13:15] Garderoben commented on #92
@danglingneuron im working on it, just sorting out some bugs with the drawer atm.

[2020-11-08 13:32] T-Alkathiri commented on #92
That is awesome, please do not forget the drawer also needs RTL support.
Thank you very much.

On Sat, Nov 7, 2020 at 11:53 PM Jonny Larsson <notifications@github.com>
wrote:

[2020-11-08 17:44] porkopek opened #95 "Chipset: when removing one item, actually two are removed"
Look at the example in https://mudblazor.com/components/chipset
Section **Adding and removing chips**

If you click Add three times, and then you remove the first Chip, two Chips are actually removed.

I think this is related to the property Deleted in Chip. See conversation in #87

And in the Chip component by itself, if you want to really remove the item that represents a Chip from your list of

[2020-11-08 17:46] henon commented on #95
You have it on record now. You were right and you warned me about this. ;)

[2020-11-08 21:17] Bimble commented on #94
@Garderoben thanks for the fast fix. I tried it out with the last master and I get the following behavior.

![drawerOpenClose](https://user-images.githubusercontent.com/235179/98484460-efebe480-220f-11eb-94e5-6a918797dec7.gif)

I took the latest master and changed the MainLayout.razor line 17 to:
 `<MudDrawer Elevation="99" Class="mudblazor-appbar-band" Anchor="Anchor.Right">`

[2020-11-08 22:38] Garderoben commented on #92
@T-Alkathiri and @danglingneuron i just commited very basic RTL support in the developer branch.
Next up is change the left/right state on the drawer and then go over all cases where the css is wrong.

[2020-11-08 22:39] henon commented on #92
We are also going to add RTL-indifferent spacing classes like Vuetify has https://next.vuetifyjs.com/en/styles/spacing/#how-it-works

![image](https://user-images.githubusercontent.com/44090/98486090-94275880-221b-11eb-8242-1201fdbbfaf2.png)

[2020-11-08 22:52] Garderoben commented on #94
@Bimble Yes sorry, we re worked it again. It still has problems but functionality is there now in the developer branch. I will finish the last css changes tomorrow in the dev branch.

[2020-11-09 12:02] Garderoben commented on #94
@Bimble Fixed now, its pushed to developer branch. Please note that branch is using the new themeprovider so everything there might not work like button colors or dark mode etc.  Can you confirm its working as you expected? we also added support for double drawers and i cleaned up allot of old css.

![AnchorFixed](https://user-images.githubusercontent.com/10367109/98538914-c4a6db00-228b-11eb-8154-

[2020-11-09 13:00] Garderoben commented on #92
@T-Alkathiri @danglingneuron   I just pushed this to dev branch:
![RtlSupport](https://user-images.githubusercontent.com/10367109/98544203-f15ef080-2293-11eb-8507-2d3de881e43e.gif)

[2020-11-09 13:46] henon opened #96 "Autocomplete improvements"
We need these improvements on Autocomplete:
 - [x] On dropdown close coerce text back to selected item or empty if nothing selected (PR by HClausing)
 - [x] Call the search function on first click (impl. of search func determines if all are shown or none)
 - [x] Autocomplete should expose OnKeyDown, OnKeyUp and OnKeyPress events
 - [x] list item template

[2020-11-09 14:12] zawhtut opened #97 "Could not add Mudblazor"
Hi
I could not add the Mudblazor package. It's said `Package restore failed`.

`Cycle detected.
Mudblazor -> MudBlazor (>= 1.1.1).
Checking compatibility of packages on .NETCoreApp,Version=v3.1.
Checking compatibility for Mudblazor 1.0.0 with .NETCoreApp,Version=v3.1.
All packages and projects are compatible with .NETCoreApp,Version=v3.1.
Package restore failed. Rolling back package changes for 'M

[2020-11-09 17:26] thebal opened #98 "Plotly.Blazor component renders blank when MudBlazor is added to project."
I'm using a third party Plotly.Blazor component which renders fine until MudBlazor is installed.  The issue seems to be with _content/MudBlazor/MudBlazor.min.css.  For now my workaround is to move the <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" /> fragment to individual component code rather in _Host.cshtml.

[2020-11-09 18:04] Garderoben commented on #97
@zawhtut Server/Client? what other nugets do you have installed?

[2020-11-09 20:49] Bimble commented on #94
Looks awesome, I like the double drawer.
Not sure if it is related to the themeprovider that you are still working on, I noticed the following in the double drawer example, the settings button is animated when the menu button is triggered:

![drawerOpenClose2](https://user-images.githubusercontent.com/235179/98594554-23dd0d80-22d5-11eb-814d-4dddd3398683.gif)

[2020-11-09 21:15] T-Alkathiri commented on #92
Is this available for me for testing because when i try to implement this i
got this looking :

[image: image.png]

On Mon, Nov 9, 2020 at 4:02 PM Jonny Larsson <notifications@github.com>
wrote:

[2020-11-10 06:41] zawhtut commented on #97
I've tried it both. I just started with `dotnet new blazorserver` and `dotnet add package MudBlazor` and then I got the error.

[2020-11-10 06:49] Garderoben commented on #97
I just tried the same, works fine here, when i'm looking at your error message it looks like you already have or had a version installed?

Remove it and add it again, or try to add the reference automatically in the project file.

`<ItemGroup>
    <PackageReference Include="MudBlazor" Version="1.1.1" />
  </ItemGroup>`

[2020-11-10 07:06] zawhtut commented on #97
I have this terminal output after I tried to add the package.

`dotnet add package MudBlazor`
`Determining projects to restore...`
`Writing /var/folders/wz/_v85t7ds0ml8078bl3b2t2f00000gn/T/tmpBL0MNn.tmp`
`info : Adding PackageReference for package 'MudBlazor' into project '/Users/.../Mudblazor/Mudblazor.csproj'.`
`info : Restoring packages for /Users/.../Mudblazor/Mudblazor.csproj...`
`error: Cycl

[2020-11-10 07:52] Garderoben commented on #92
@T-Alkathiri i cant see your picture, but its only available in the developer branch for now.

[2020-11-10 08:00] henon commented on #98
can you push a minimal reproducing sample to github so we can work on the problem? thanks

[2020-11-10 08:39] zawhtut commented on #97
I found the solution. It is because the project name is the same with the package name.
After I change different project name, the package is successfully installed.
Thanks for everything. :)
Ref: [https://kmatyaszek.github.io/2019/05/30/nuget-nu1108-cycle-detected.html](url)

[2020-11-10 08:40] #97 closed

[2020-11-10 14:47] henon commented on #92
Here are things that need to be fixed in RTL mode:
- [ ] Alert spacing of icon
- [ ] Autocomplete text and position of arrow
- [ ] Select text and arrow position
- [ ] Badge position
- [ ] Button icon position and spacing
- [ ] FAB icon position
- [ ] Card avatar spacing
- [ ] Checkbox spacing
- [ ] Chip icon position and spacing
- [ ] Drawer flip side
- [ ] Radio spacing
- [ ] Textfield helper te

[2020-11-10 18:40] Garderoben commented on #69
New ThemeProvider pushed to Dev branch, and i have gone thru all scss files.
There is still a few few hard coded color values but im looking into adding more colors to the new theme palette

[2020-11-10 19:35] henon commented on #51
done.

[2020-11-10 19:35] #51 closed

[2020-11-10 22:09] Bimble opened #104 "Missing contextual action bar implementation"
On the page of the appbar it is mentioned that next to the regular app bar, there is a contextual action bar as well. This one has not been implemented.

See page:
https://mudblazor.com/components/appbar

[2020-11-11 17:39] T-Alkathiri commented on #92
Excellent!
Thank you very much.

On Tue, Nov 10, 2020 at 5:47 PM Meinrad Recheis <notifications@github.com>
wrote:

[2020-11-11 21:13] lindespang commented on #89
@Garderoben You can assign me to this one if you want to 👍If no one else is working on it!

[2020-11-11 21:43] #95 closed

[2020-11-12 10:13] danglingneuron opened #106 "Paper background color theme feature"
Mudpaper currently renders Palette.Surface as background color which is "white" in default theme and dark grey in dark theme.  If I change the surface color in default theme it applies to the main underlying surface as well. I want to be able to have a separate property instead of using surface. That way I can have light grey in the default theme and a dark grey in dark theme.
I am a noob so if I

[2020-11-12 17:57] IvanJosipovic opened #107 "[Bug] MudSelect doesn't show initial value"
There appears to be a bug in MudSelect where it doesn't show the initial value and doesn't allow selecting it.

![MudSelect](https://user-images.githubusercontent.com/9521987/98977382-679a6780-24cd-11eb-8354-702a157d5c8d.gif)

Version="1.1.2"

[code]

[2020-11-12 19:35] henon commented on #107
I'll look into this

[2020-11-12 22:25] henon commented on #107
Fixed. This is important for value type T's where the initial Value is equal to the default(T) because the way the Value setter is built,
it won't cause an update if the incoming value is equal to the internal value. I triggered an update of the Text on start to fix it.

Upgraded the second example to demonstrate this
![image](https://user-images.githubusercontent.com/44090/99003272-1e363080-253e-

[2020-11-13 05:04] 0xF6 opened #110 "Support async variant MudBaseInput::Validation?"
What about the asynchronous validation variant?
[code]

[2020-11-13 06:22] 0xF6 opened #111 "Way to change icon in MudButton?"
I try
[code]
but it not work

[2020-11-13 10:22] lindespang commented on #74
@henon @Garderoben My suggestion is to wait until we’ve upgraded to .NET 5 so we can utilize the native `<Virtualize>` component in Blazor.

[2020-11-13 10:30] lindespang commented on #111
Hi! Use the `StartIcon` or `EndIcon` parameters on the `<MudButton>` component in the razor declaration.

Your suggestion could also work but it’s not recommended to set incoming parameters explicit like that outside the component in Blazor as you might run in to unexpected render issues.

[2020-11-13 11:08] Garderoben commented on #111
I would take a look at: https://try.mudblazor.com/snippet/QEFaPZka22tznIYS55
Atm we are just passing down the whole SVG Path's D data.

If you have your own set of SVG icons you can save them as strings and use like @lindespang already said EndIcon="@MyCustomIcons.Test"

Or even like this...
EndIcon="M12,3C7.58,3 4,4.79 4,7C4,9.21 7.58,11 12,11C16.42,11 20,9.21 20,7C20,4.79 16.42,3 12,3M4,9V12C4,1

[2020-11-13 11:12] henon commented on #110
I see, will make it async then.

[2020-11-13 12:25] 0xF6 commented on #111
Yes, I see.
Set icon data in razor declaration works, but I need to change icon data for component by reference periodically, and it doesn't work directly.
Also VS shows `BL0005` warning when i set parameter icon data of component directly.

I try next variants:

Set directly:
https://try.mudblazor.com/snippet/muFPbnlw172fSc6t41
Not work

Set directly and trigger `StateHasChanged`
https://try.mudb

[2020-11-13 12:30] 0xF6 commented on #111
Heh,
also `js!.InvokeVoidAsync("eval", $"$('#{id}>span>span>svg>path').attr('d', '{Filled.Sync}')")` work perfectly 😃

[2020-11-13 12:32] henon commented on #111
from what I see, we just need to do a simple StateHasChanged() in the setter.

[2020-11-13 12:33] 0xF6 commented on #111
Maybe, but I'm still confused by `BL0005` warning~

[2020-11-13 12:40] lindespang commented on #111
You get the warning for the reasons i mentioned. You should not do that in Blazor.

In essence, the best way is to pass it by razor declaration - this will cause re-renders automatically by the framework when needed. Then update the value (several different ways of doing this) you use for binding in the razor declaration on runtime and you should get the behaviour you seek.

Im on mobile so cant r

[2020-11-13 12:45] henon commented on #111
here is a snippet:

[code]

[2020-11-13 14:06] Garderoben commented on #94
@Bimble its released in 1.1.2 and working. Regarding that animation its a css "bug/glitch" will look into it.

[2020-11-13 14:06] #94 closed

[2020-11-13 14:48] Flaflo opened #114 "Expose ElementReferences"
Expose ElementReferences to underlying HTML Elements inside Components like the <input> element in MudTextField.

Some context why I came to this idea:
I am trying to call "FocusAsync" on an MudTextField but this is only possible by exposing its underlying reference to the element.

Yay or nay?

[2020-11-13 15:01] henon commented on #114
This is going to be something many users will want to do right? If so, we should probably expose the method FocusAsync on MudTextField.

As for a general discussion of exposing a ref to the input element, I have no strong opinion on that. Let us weigh the options in light of the nature of the library.

Positive: It might increase the usefulness for use cases that weren't foreseen by us

What would

[2020-11-13 18:44] GaryOBX opened #115 "MudSelect inside MudCard"
The Popover that is displayed with a **MudSelect** component does not leave the confines of a **MudCard**. Is this by design?

I am using v 1.1.2

Here, I used a MudCard on the left, and some DIVs styled to look like a MudCard on the right.

![MudCardBehavior](https://user-images.githubusercontent.com/74426859/99107595-19ac5f00-25b4-11eb-86dc-5b102d3d3965.gif)

Page Code:
[code]
C# Code:
[code]

[2020-11-13 20:50] lindespang commented on #115
It's definitely a bug. Thanks for posting with an example!

[2020-11-13 22:07] lindespang commented on #114
@henon Agreed. I think it's better to expose the things you need in the API for the component, such as FocusAsync method in this case, instead of exposing the elementreference internals which I feel is a bit too complicated if we are aiming for simplicity.

[2020-11-13 22:56] lindespang commented on #111
https://try.mudblazor.com/snippet/muFPbnlw172fSc6t41
Not work

This is because OnInitialized is run before first render and your @ref is not populated yet.

[2020-11-14 11:07] Garderoben commented on #106
How do you mean it changes the main underlaying surface as well? Maybe  you can share a print screen of your layout and components/classes used?

This is our dark theme vs light theme we use just that, in light mode we have the same color white and in dark theme we change both.
![image](https://user-images.githubusercontent.com/10367109/99145796-e0d2bf80-2671-11eb-8206-7fbf486f0b99.png)

[2020-11-14 11:27] danglingneuron commented on #106
The issue is that in **light theme** the paper background and the palette background are the same. I may be using paper with 0 elevation and no border - which makes the paper indistinguishable from the background. I need to have the paper background color different from the palette background in the "light theme" and still have the color switch available in dark theme (which I have no issues with

[2020-11-14 22:46] #111 closed

[2020-11-15 00:33] ChrTall opened #117 "MudTable with MudLink"
I am trying to implement MudTable.
I would like to have a Row like this:
`
<RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.FirstName</MudTd>
            <MudTd>@context.LastName</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>@context.Experience</MudTd>
            <MudTd><MudLink Href="/developer/edit/@context.Id"></MudLink></MudTd>

[2020-11-15 07:34] lindespang commented on #117
I suspect you are mixing markup / C# in the Href in your MudLink. Write it something like `Href=”@($”/developer/edit/{context.Id}”)”` you might need to escape `/` chars not sure am on phone.

But yeah I believe it’s just a syntax error

[2020-11-15 09:17] Garderoben commented on #115
@GaryOBX Fixed in dev branch and will be in next package coming out.
I'm not super proud on the "dirty fix" but it will have to do for now.
Basically what you need to do is add fixed to `.mud-popover` now it looks like you changed some css on your own so you might also wanna set the `width: calc(100% - your content padding left/right);` Do this only when in the dialog.

![fixed select in dialog](h

[2020-11-15 09:17] #115 closed

[2020-11-15 12:15] NatanBagrov commented on #96
I would also suggest adding an option to provide a template for the search list and selected result.
For instance - showing icons of the countries when choosing a country.
Can take a look [here](https://github.com/Blazored/Typeahead) for reference (result template, selected template).

[2020-11-15 12:16] Garderoben commented on #117
@ChrTall like this, as @lindespang mentioned.
`<MudTd><MudLink Href="@($"/{context.Name}")">@context.Name</MudLink></MudTd>`

![image](https://user-images.githubusercontent.com/10367109/99184458-35923b00-2743-11eb-9849-c735eba2f111.png)

Why style a link like a button? MudButton have the Link prop and acts in the same way:
`<MudButton Link="https://github.com/Garderoben/MudBlazor/issues/117#">MyLi

[2020-11-15 12:16] #117 closed

[2020-11-15 12:53] henon commented on #96
Of course Natan. I am working on it

[2020-11-15 13:51] Garderoben commented on #106
There is no true Dark/Light theme functionality. The ThemeProvider is designed currently so it always provide MudBlazor's default theme settings unless the user override them.

This means that if you change Primary color in "Theme1" and then in your "Theme2" that is your dark mode variant of Theme1 you will have to set the Primary color again.

In your case above it sounds like you should change b

[2020-11-15 16:24] ChrTall commented on #117
@lindespang & @Garderoben
Thanks for the quick help with the link.
Sorry I somehow missed the Link prop when browsing the api docs.
Great job, this project looks really good.

[2020-11-15 21:25] henon commented on #96
all implemented. will be released soon

[2020-11-16 00:05] mohammad198600 opened #118 "Does MudBlazor form fields support Fluentvalidation ?"
Does MudBlazor form fields support Fluentvalidation ?

[2020-11-16 02:17] IvanJosipovic commented on #118
Yes, however, you will need another library like https://github.com/Blazored/FluentValidation

You will also need to set the For Parameter on every input.

[code]

[2020-11-16 17:39] henon commented on #96
released as 1.1.3

[2020-11-16 17:39] #96 closed

[2020-11-16 17:39] henon commented on #107
released as 1.1.3

[2020-11-16 17:39] #107 closed

[2020-11-16 17:40] henon commented on #89
released as 1.1.3, see example in drawer documentation on how it works

[2020-11-16 17:40] #89 closed

[2020-11-16 17:42] henon commented on #98
please provide a minimal reproduction i.e. as github repo. otherwise, we'll close this issue

[2020-11-16 19:35] thebal commented on #98
Hi I just tried to recreate the issue in a minimal project and I cannot.  Notice in my other project I am also using a css file, issue maybe related to that instead. I will close this item and if I can narrow the problem down will resubmit.  Thanks - you guys have done some great work with this project.

[2020-11-16 19:35] #98 closed

[2020-11-17 06:24] MattChique opened #120 "Ripple container causes scrollbars"
Ripple container (:after) causes scrollbars on several components

![image](https://user-images.githubusercontent.com/26269158/99353817-9043a800-28a5-11eb-8f04-702d28c7eaf0.png)

This example shows a dialog, but also causes this on other components like the AppBar (upper right buttons)

[2020-11-17 07:17] Garderoben commented on #120
@MattChique how do i replicate, Works fine everywhere i test?

I can see the :after like that in the browser but i dont get any scrollbars anywhere?
Is it a new issue since 1.1.3 or? need more info.

[2020-11-17 07:48] MattChique commented on #120
Try a MudDialog: DialogContent with a MudTextfield inside. With Adorement near to the dialogs border.

It is not new to 1.1.3.

I made an short example: https://try.mudblazor.com/snippet/wElblrkh48evZ7aC02

[2020-11-17 08:04] henon opened #121 "Docs: don't strip usings from the samples"
For instance Form > EditorFormExample

[2020-11-17 08:05] Garderoben commented on #120
Good catch! this is why, i need to check if i should change it with the sass import order or add !important.
![image](https://user-images.githubusercontent.com/10367109/99362554-eddef100-28b3-11eb-9d00-5cb39d995f12.png)

[2020-11-17 09:30] Garderoben commented on #120
Fixed in dev branch, will probably be a couple of days before we take out a new nuget package.
You can temporary set .mud-ripple's overflow hidden to !important in your site CSS.
Commit: https://github.com/Garderoben/MudBlazor/commit/95c2aa0dafea05b714e765469ab254e260910299

[2020-11-17 09:30] #120 closed

[2020-11-17 09:37] Garderoben commented on #118
@mohammad198600 Seems like @IvanJosipovic answered for us, thanks!
Can i close this issue?

[2020-11-17 09:43] Garderoben commented on #74
@henon i think @lindespang suggestion is good so we don't invent the wheel twice and "waste" the time we have now, what's your opinion?

[2020-11-17 10:10] henon opened #122 "Upgrading to .net 5"
Should we upgrade to .net 5 or rather wait for the LTS .net 6. Since the question comes up repeatedly, let's find out how to best handle it. The problem is, that .net 5 is not LTS so we really should not force users of MudBlazor to upgrade.

Here is what we might do:
We could support both 3.1 and 5.0 at the same time, i.e. by conditional compilation and branching, adding new features that depend o

[2020-11-17 10:11] henon commented on #74
Sure. The upgrade discussion is worthy of its own issue, so I created it #122

[2020-11-17 10:38] HClausing commented on #122
Well, The ideia of havind two branches and conditional compilation is very good.

But, based on the cons, mainly in fact of the team are busy and as you said, some standarts aren't ready yet, I think, by the moment, that the best is work on essentials and bugs (if exists) before spend time on net5 branch configuration.

Another mine point of view, is about to keep a net5 branch created, but withou

[2020-11-17 11:37] zsveraszto opened #123 "Class not applied to DatePicker"
If I use two DatePickers next to each other and want to use margin between them, the "mx-*" class is not applied.

try.mudblazor.com snippet :
https://try.mudblazor.com/snippet/cEbbbVFP258EEw1v06

![image](https://user-images.githubusercontent.com/47952327/99385369-2c36d900-28d1-11eb-8ed2-921f89ef2355.png)

[2020-11-17 14:02] Garderoben commented on #123
Fixed in devbranch now, will be in next nuget package in a couple of days.
Commit: https://github.com/Garderoben/MudBlazor/commit/15a46a697e4645e6884ca2723720af3b22a648fb

[2020-11-17 14:02] #123 closed

[2020-11-17 17:29] GaryOBX commented on #115
I'm not sure if this made it to 1.1.3 as I still get the same results. The dropdown is still restricted to the confines of a MudCard.

[2020-11-17 18:03] davewevans opened #124 "MudTimePicker with Inline variant doesn't open the dialog in the correct position when inside the MudMainContent container"
**Describe the bug**
When inside the MudMainContent container, the MudTimePicker (Inline variant) doesn't open the dialog picker in the correct position if enough content is above and below the element.  Something in the MudMainContent class is throwing off the positioning of the dialog. It works great if there is little or no content above and below the widget. I've created a new Blazor Web Assem

[2020-11-17 18:07] henon commented on #124
Code as screenshot? Come on man ... :D

[2020-11-17 18:30] sps014 commented on #122
Dot net 5 enables performance gains in rendering , definitely worth it.

[2020-11-17 18:43] henon commented on #122
We can easily have a .net 5 branch and regularly merge the 3.1 branch into it, nothing speaks against that.

How we deal with releases is a separate question actually. Maybe even have separate nugets if it proves difficult for our release procedure to unify into one.

[2020-11-17 19:02] davewevans commented on #124
My bad. I figured it was pretty basic stuff, though.

[2020-11-17 19:35] kevinreginold commented on #122
I really appreciate the dedication and amount of work going into this project. Everyone involved has done a great job! I plan to develop my apps using mudblazor and was hoping for .net 5 support for this project, as I've only heard great things about it. The performance leap of the framework is too good for the community to not consider moving to it. I'm sure even existing users will take the hass

[2020-11-17 19:49] sps014 commented on #122
100 % agree , most people will prefer to upgrade

[2020-11-17 23:01] thebal opened #125 "MudTextField seems to reject initial value"
Hi I am trying to utilize MudTextField to allow for user editing of double values.  I am not able to initialize the component to a default value.  Please see the following link:

https://try.mudblazor.com/snippet/GuPPPLQn009f7fXh03

[2020-11-17 23:13] 0xF6 commented on #125
Try using string?
https://try.mudblazor.com/snippet/cYbFFrmR08xz8OZy19
or maybe try set-up Converter?

[2020-11-17 23:34] Garderoben commented on #124
It's a bug alright, also effects the DatePicker i'm on it, i have solved it in my example like yours above just need to try it out in different scenarios

[2020-11-17 23:39] thebal commented on #125
Ok thanks, I have implemented with string.

On Tue, Nov 17, 2020 at 4:13 PM Yuuki Wesp <notifications@github.com> wrote:

--
Raj Bal
President - Madala Software Inc.
587-284-7139
www.madalasoftware.com

[2020-11-18 00:18] Garderoben commented on #124
Tested and works with commit: https://github.com/Garderoben/MudBlazor/commit/2ea866cf24e940303700f27a41e344d413032d1f in dev branch, it was missing position relative.
![image](https://user-images.githubusercontent.com/10367109/99466060-fb3fbe00-293b-11eb-9a51-31fc02dbb204.png)

But it still suffers from same problem select does inside lets say a card, paper, expansion panel i'm looking into that o

[2020-11-18 00:18] #124 closed

[2020-11-18 00:29] Garderoben opened #126 "Components using the internal MudPopover suffers from "clipping" issues overall"
**Describe the bug**
Time/Date Picker, Select, AutoComplete for example all suffers from this depending on scenario.

Expansion Panel, and Card seems to have the biggest issues because of its overflow hidden class. Card is a easy fix but Expansion Panel gets a bit more complicated with its animations.

Devbranch has them working inside dialog's, paper, and plain normal containers but i'm still tes

[2020-11-18 00:32] Garderoben commented on #115
@GaryOBX I'm sorry i dident read properly and i fixed it inside dialogs and not cards.
The problem seems to be a bit more widespread than i thought i have opened a new issue regarding this: https://github.com/Garderoben/MudBlazor/issues/126

[2020-11-18 07:30] henon commented on #125
@thebal no need to use string (except as workaround), textfield supports all primitive types. this is similar to a known bug for autocomplete, which was resolved in 1.1.3. it only happens if you initialize with default(T), so if you initialize with 0.1 you see it works.
Will be fixed in 1.1.4

[2020-11-18 07:33] henon commented on #125
by the way, nullable double is also a workaround:

[code]

[2020-11-18 07:50] henon commented on #125
are you using latest MudBlazor 1.1.3? Actually try.mudblazor.com is one version behind. It should actually be fixed in 1.1.3 already. Just tried

[2020-11-18 08:13] henon commented on #125
by the way, if you want the textfield to display 0.0 instead of 0 you can set the ToString format:

`<MudTextField Culture="@CultureInfo.InvariantCulture" Format="F1" @bind-Value="@EntryValue">`

[2020-11-18 12:21] lindespang opened #127 "[Mudblazor docs] Unhandled exception when visiting API section of ExpansionPanel"
**Describe the bug**
If you try to visit the API section for expansion panel on mudblazor.com you get an unhandled exception

**Expected behavior**
Visit API for expansionpanel

**TryMudBlazor**
N/A

**Screenshots**
(Click here, or in NAV menu)
![image](https://user-images.githubusercontent.com/36196344/99529918-e6e1dc80-29a0-11eb-8545-29eed0dad656.png)

[2020-11-18 12:22] lindespang commented on #127
@henon Maybe another case of default parameter generation, have not checked as I'm working atm.

[2020-11-18 22:16] lindespang opened #128 "Href that opens new tab/window throws exception"
**Describe the bug**
An example is clicking github icon on mudblazor.com - See screenshot.

I believe this is solved by calling `InvokeVoidAsync `instead of `InvokeAsync ` in JS interop since client can't serialize the window response.

**Expected behavior**
No exception thrown.

**TryMudBlazor**
Not needed

**Screenshots**
![image](https://user-images.githubusercontent.com/36196344/99594766-ed4d7

[2020-11-18 22:20] lindespang opened #129 "[MudBlazor Docs] Routing error API -> Examples"
**Describe the bug**
If you are in the MudText API section and want to see the examples, you will get routed to a page that doesn't exist.

**Expected behavior**
Should route to typography instead of text I guess

**TryMudBlazor**
N/A

**Screenshots**
If applicable, add screenshots to help explain your problem but please no code screenshots.
![image](https://user-images.githubusercontent.com/36196

[2020-11-18 22:33] lindespang opened #130 "[MudBlazor Docs] Missing connections between example --> API of components"
**Describe the bug**
### Examples that doesn't link to API:
* Button FAB
* Chips
* Icons
* Progress
* Snackbar
* Typography

**Expected behavior**
Should be a shortcut from examples -> API for all components

**TryMudBlazor**
N/A

**Screenshots**
Normal:
![image](https://user-images.githubusercontent.com/36196344/99596288-4fa77400-29f6-11eb-875c-f8bdcf7c32ab.png)

Components mentioned above:
![ima

[2020-11-18 22:34] lindespang commented on #127
@henon Same for "Radio" API Section as well

[2020-11-18 22:38] lindespang opened #131 "[MudBlazor Docs] Console errors on 'Material Icons page'"
**Describe the bug**
Browsing the page generates errors in the console, see screenshot

Might be related to #63 ?

**Expected behavior**
No errors!

**TryMudBlazor**
N/A

**Screenshots**
![image](https://user-images.githubusercontent.com/36196344/99596632-f12ec580-29f6-11eb-8d37-51b67252c271.png)

[2020-11-19 05:01] IvanJosipovic opened #132 "Autocomplete opens menu with initial value"
**Describe the bug**
When an Autocomplete component is bound to a property with an existing value, the menu will show automatically.

**Expected behavior**
The menu shouldn't show when the Autocomplete component is bound to a property with an existing value.

**TryMudBlazor**
https://try.mudblazor.com/snippet/GYbPFDOe59qpU8Mg13

[2020-11-19 06:40] danglingneuron commented on #106
Excellent. The basic issue is resolved!
I have a further question on this. How do I handle custom coloring of paper background. This is due to my lack of knowledge in CSS basics.

Example: I have a title/header box up top (MudPaper) which will switch the color based on the theme palette settings as you described above.
Then I may have a MudGrid with repeated MudItems (rows). The MudItem has Mudpap

[2020-11-19 06:45] danglingneuron commented on #122
I am already using MudBlazor in .net 5 blazor WASM and utilizing Virtualize.

`@if (AyahList!=null)
    {

        <MudGrid Class="ma-2 pa-2">
            <Virtualize Items="@AyahList" Context="item">

                <MudItem md="2">
                    <MudChip Variant="Variant.Outlined" Size="Size.Small" Label="true">@item.AyahId</MudChip>
                </MudItem>
                <MudItem md=

[2020-11-19 07:15] danglingneuron commented on #106
OK, I think I can keep track of which theme is applied by keeping that info in a state store. Maybe it would be useful to have a string Name property in MudTheme. That way I can give themes names and then even have a drop down for user to choose the theme By name. And also keep that theme name in state store to decide whatever I need to do based on that.

[2020-11-19 08:28] henon commented on #132
I am on it.

[2020-11-19 08:38] henon commented on #129
I will take care of this

[2020-11-19 15:33] Garderoben commented on #128
Fixed in devbranch, commit: https://github.com/Garderoben/MudBlazor/commit/9cd302b257c4cf90afadb7caa8a1766b55d48543
I to add javascript since just using `InvokeVoidAsync` return console error still but used to work before in older .net core versions.
https://stackoverflow.com/questions/62769031/how-can-i-open-a-new-window-without-using-js

[2020-11-19 15:33] #128 closed

[2020-11-19 17:34] Garderoben commented on #131
Confirmed, related to https://github.com/Garderoben/MudBlazor/issues/63

[2020-11-19 20:09] henon commented on #127
Fixed and thoroughly unit tested as well

[2020-11-19 20:09] #127 closed

[2020-11-19 23:20] ChrTall opened #133 "Snackbar Documentation"
**Is your feature request related to a problem? Please describe.**
I can not figure out how to use Snackbars for something like a success message after adding an Entity. Examples -> Snackbar shows examples but without code.

**Describe the solution you'd like**
Maybe an example of Snackbar Alert with code, so people who are inexperienced with Blazor can try to understand it.

[2020-11-19 23:43] Garderoben commented on #133
Will add it, it was put on hold pending some breaking changes that also got pun on hold..
I wanted to give you a example for now but colors don't work as of latest's two updates. Seems like i forgot to updated the snackbar classes i will make sure its fixed in the new version coming out this week.

For now all i can give you is example of is just default snackbar: https://try.mudblazor.com/snippet

[2020-11-20 00:15] ChrTall opened #134 "MudTableSortLabel Icon after Labelname"
**Describe the solution you'd like**
Is it possible to have a option to place the Icon after the Labelname on a < MudTableSortLabel > , like you can do with < MudButton >?
When you only have 1 or 2 datarows I would prefer placing the Label first, because the < th > would not be offset.

**Describe alternatives you've considered**
![MudTableSortLabel2](https://user-images.githubusercontent.com/5549

[2020-11-20 00:47] ChrTall commented on #133
Thanks, I tried it and it works very well with my form.
Is there a way to change to Timeout from Infinite to a few seconds?

[2020-11-20 03:48] Garderoben commented on #134
Sure i add it, give me a few minutes, and i push to devbranch, will be in next release.

[2020-11-20 04:21] Garderoben commented on #134
There we go!
![image](https://user-images.githubusercontent.com/10367109/99757329-73021a00-2aef-11eb-99cf-0030d03e5e54.png)

I added the possibility to change the icon if wanted with the `SortIcon` parameter. I changed the default so the icon is behind the label text. But can still be changed to left side or "append" with the `AppendIcon` bool.

I also added hover effects to the icon and on neutra

[2020-11-20 04:40] Garderoben commented on #133
Yeah either globally when you register the service:
[code]
Or per snackbar:
https://try.mudblazor.com/snippet/cOlFcEuo40X8P0XJ20

[2020-11-20 04:42] Garderoben commented on #31
@lindespang You wanted this one right?

[2020-11-20 05:53] IvanJosipovic opened #135 "AutoComplete with MinCharacters menu issues"
**Describe the bug**
When using AutoComplete with MinCharacters, the menu opens before the min character limit is reached.

**Expected behavior**
The menu shouldn't open until the minimum character limit is met.

**TryMudBlazor**
https://try.mudblazor.com/snippet/culPQEYJ52OW5Urd25

**Screenshots**
![MudAutoComplete](https://user-images.githubusercontent.com/9521987/99764277-9017f800-2ab1-11eb-8a1

[2020-11-20 08:14] lindespang commented on #31
@Garderoben Yes!

[2020-11-20 08:55] Garderoben commented on #31
Så där!

[2020-11-20 11:15] Flaflo commented on #114
Whats the state of this? I would be satisfied if crucial APIs like FocusAsync() are exposed and delegated to the element reference. But exposing the "core" element reference for "advanced" users would be the best.

[2020-11-20 11:36] henon commented on #114
@Flaflo: Can you please PR the things you need to the API? My main concern with exposing element references is that everyone will just bypass the component's public API and thus our components will not get better/more useful. Also their code might break more easily if we make internal changes. Not exposing the ref forces us (and you to help) improve the components.

Here are some more thoughts:
 -

[2020-11-21 18:48] #134 closed

[2020-11-22 07:38] #106 closed

[2020-11-22 10:46] nilssol opened #140 "SectionContentRow not avaible"
Hi

Trying to use SectionContentRow -  but its unavaible.

(when creating new blazor application)

Thanks for this fantastic library. 👍

[2020-11-22 11:08] henon commented on #140
Which component are you talking about? Please give complete information

[2020-11-22 11:33] nilssol commented on #140
`
<SectionContentRow>
    <MudButton Variant="Variant.Text" Size="Size.Small">Small</MudButton>
    <MudButton Variant="Variant.Text" Size="Size.Medium">Medium</MudButton>
    <MudButton Variant="Variant.Text" Size="Size.Large">Large</MudButton>
</SectionContentRow>
`

Was trying to use the SectionContentRow from the demo app, but i guess this is not an component in the library.

[2020-11-22 12:43] ChristianWeyer commented on #122
A. move to .NET 5 would be nice based on the above comments - plus: JS isolation makes it obsolete to having to include the JS file in index.html.

[2020-11-22 16:38] Garderoben commented on #140
@nilssol No sorry its a "docs component" im working on removing all of them that are used in examples. Sorry for the inconvenience. From what i can see its only applying auto margins to the children.

[code]

[2020-11-22 16:45] nilssol commented on #140
No problem, thanks. 😀

[2020-11-22 21:32] ChrTall commented on #134
Nice looks really good, looking forward to the release.

[2020-11-22 22:03] #140 closed

[2020-11-22 22:44] Garderoben commented on #126
I have tried every possible case i can come up with and seems all good now. Its in the latest dev branch since earlier today and will be in the new release tonight.

MudSelect, MudAutocomplete, MudDatePicker, MudTimePicker was tested inside this components/parents and displayed correctly.

- [x] MudContainer
- [x] MudPaper
- [x] MudCard
- [x] MudDialog
- [x] MudExspantionPanel
- [x] MudTable

[2020-11-23 03:49] #132 closed

[2020-11-23 03:59] Garderoben commented on #126
Package is live: https://www.nuget.org/packages/MudBlazor/1.1.4/

[2020-11-23 04:06] Garderoben commented on #133
@ChrTall Here you go man!
https://mudblazor.com/components/snackbar
https://www.nuget.org/packages/MudBlazor/1.1.4/

[2020-11-23 04:57] IvanJosipovic commented on #135
Fixed in 1.1.4

[2020-11-23 04:57] #135 closed

[2020-11-23 06:51] #118 closed

[2020-11-23 07:15] #126 closed

[2020-11-23 07:16] Garderoben commented on #31
Done & Done, its in the new package 1.1.4

[2020-11-23 07:16] #31 closed

[2020-11-23 08:00] nmakhmutov opened #141 "Incorrect styles for menu with 2 icons"
**Describe the bug**
Hi!
When I use MudMenu component with start and end icon I noticed wrong paddigns around start icon.
Code:
[code]

It happens because two icons use identical style classes

**Expected behavior**
Normal padding around icons

**Screenshots**

Incorrect view
![image](https://user-images.githubusercontent.com/28149951/99939190-8bd23000-2d7a-11eb-92c3-b152ba2a50f6.png)

Incorrect s

[2020-11-23 08:11] Garderoben commented on #141
I'l fix it after work!

[2020-11-23 08:25] #133 closed

[2020-11-23 10:01] nilssol opened #143 "Bindable bool to MudHidden"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Bindable bool to MudHidden, this so i can execute device spesific code inside codeblock when page loads

**Describe alternatives you've considered**
Have used BlazorSize earlier, but dont want this extra dependency

[2020-11-23 10:16] henon commented on #77
Check out our main page on https://mudblazor.com
We now have two interactive examples there. A mail app and a little calculator. More to come ...

[2020-11-23 11:09] MattChique opened #144 "MudSelect FullWidth=true not working"
**Describe the bug**
MudSelect FullWidth=true not working, MudSelect ist not getting its 100% due to the wrapping <div class="mud-select">

The mud-select is display:flex, but collapses. The inner containers get the 100%. But of course only the 100% of its parent.

**Expected behavior**
MudSelect should get its 100% width

**TryMudBlazor**
https://try.mudblazor.com/snippet/mklPwnFF05549sl258
Unfor

[2020-11-23 11:18] MattChique opened #145 "STextfield (Multiline) gets extra padding"
**Describe the bug**
The new css class .mud-input-slot adds wrong extra padding the textarea.

Just look at https://mudblazor.com/components/textfield

I think it is enough to add an div to .mud-input-slot declaration

**Expected behavior**
Textarea should not get the padding of an input

**Screenshots**
![image](https://user-images.githubusercontent.com/26269158/99956066-abbb2100-2d85-11eb-81df-2

[2020-11-23 13:08] skitsur-dev opened #147 "MudProgressCircular misses inherit from MudComponentBase"
MudProgressCircular misses inherit from MudComponentBase. Cannot set custom class etc.

[2020-11-23 13:11] skitsur-dev opened #148 "MudHidden without JS, and only CSS-hidden."
I would like a MudHidden without the JS-Windowsize-check, that only hides the dom element with CSS. The things we want to hide is not so performance-demanding so rendering it and hide it is not a problem. The problem with the JS check is that is not that responsive and lags behind a bit.

For inspiration, check: https://getbootstrap.com/docs/4.0/utilities/display/

[2020-11-23 13:14] #145 closed

[2020-11-23 13:18] henon commented on #148
How about we add boolean properties for both ways so you can control how you want it? You might hide via CSS but not remove the component or you might want to hide via CSS because faster but still remove the component from the render tree

[2020-11-23 13:21] henon commented on #147
do you want to PR that?

[2020-11-23 13:53] Garderoben commented on #144
`FullWidth` should probably be removed? its left overs since "way back" when our Inputs where set to max width: 250px some thing. I updated Try.MudBlazor.com https://try.mudblazor.com/snippet/wuvFcdPR50b7ONjr54

[2020-11-23 13:55] Garderoben commented on #147
@henon i got this one, i told him to make a issue so i don't forget.

[2020-11-23 14:17] Garderoben commented on #147
Fixed, commited to devbranch: https://github.com/Garderoben/MudBlazor/commit/d9afc1ef736a096da99d845a54ae180984fe4111

[2020-11-23 14:17] #147 closed

[2020-11-23 14:50] MattChique opened #149 "MudSelect: It should not be possible to write in the input field"
**Describe the bug**
In a MudSelect it is possible to write in the input field. I think this should not be possible, except this is wanted for example for a preset of string values.
You'll notice it in the example below, when you click on the select and the popover opens. The textcursor blinks and you can type text into it.

**Expected behavior**
It should not be possible to type text in an select

[2020-11-23 15:00] henon commented on #149
It is not possible to do that and it is by design. Try the AutoComplete instead

[2020-11-23 15:03] henon commented on #149
Right, it should not be possible for MudSelect. I am surprised that it became possible by recent changes.

to see it better, one can add OffsetY="true" to the select.

[2020-11-23 15:04] Garderoben commented on #149
Set the Input inside the Select component to ReadOnly?

[2020-11-23 17:03] Garderoben commented on #148
CSS classes is added in devbranch and so is the documentation.
scss: https://github.com/Garderoben/MudBlazor/commit/c0a9c76d07f30aba2c136648f32e113f0fb8eb30
docs: https://github.com/Garderoben/MudBlazor/commit/0db6334cd3a2f65eb5a0aadc23e69a62a3048bc4

[2020-11-24 08:03] Flaflo commented on #114
Yea sure, but at the moment its just FocusAsync() so is it a good idea to PR it? I mean if you gonna go and proxy all api calls through a mudcomponent will mean that you need to maintain them frequently otherwise some might break with an update.

If you ask me: this is a hard design decision, or more likely a decision about how lazy you are :D

[2020-11-24 08:40] henon commented on #114
I really want the lib to be useful to all and not limit expert users for the sake of non-experts. You are right that our current man power (or lazyness if you will :D) doesn't allow us to proxy everything. It also means we don't have the time to expose every internal html element.
So how about instead of making a big decision for the library component let's handle each case separately? Expose func

[2020-11-24 08:42] MattChique commented on #144
Now you want to use display:flex, right?
Then you have to add flex-grow:1 to .mud-select class. Without .mud-select will collapse.

[2020-11-24 09:26] Flaflo commented on #114
Well I just figured out that my FocusAsync would need either .NET 5 or a custom JSInterop and I dont really think you not gonna like the latter :D

[2020-11-24 09:37] henon commented on #114
ad JS: when there is no other way we do use JS.

ad .net5: We have received a lot of positive feedback on supporting it, so we will make a net5 branch and nuget. Do you want to get started with the net5 branch?

[2020-11-24 09:48] Flaflo commented on #114
Well there is another way obviously so I guess I'll start the .NET 5 branch.

I guess I branch of from master?

[2020-11-24 09:53] henon commented on #114
Doesn't matter. You can also branch off develop.

[2020-11-24 10:33] nilssol opened #151 "Implement MudDialog IsOpen bool"
**Describe the solution you'd like**
It would be nice if i could bind open MudDialog by setting IsOpen to true/false

[2020-11-24 13:41] henon commented on #122
Thanks to Flaflo we have a branch net5 now which will be kept up-to-date with the develop branch.

[2020-11-24 13:43] #114 closed

[2020-11-24 17:14] jamajuice opened #153 "MudForm @bind-IsValid not changing correctly"
**Describe the bug**
While using the basic MudForm implementation https://mudblazor.com/components/form

MudForm IsValid binding is turning true once the form fields are filled but once one is cleared, IsValid is not turning false.

MudBlazor/1.1.4

**Expected behavior**
I was expecting it bind my IsValid variable to false once the form is not filled and thus making my submit button disabled.

**T

[2020-11-24 18:37] henon commented on #143
Added in a00cd3e7

[2020-11-24 20:36] lindespang opened #154 "[MudBlazor docs] The columns are in the wrong order in the API sections"
**Describe the bug**
See title and screenshot, speaks for itself. Found on https://mudblazor.com

**Expected behavior**
Correct order of columns, or, correct headers, however you want to see it. I guess it makes sense to have description last as that text will probably be longest.

**TryMudBlazor**
N/A

**Screenshots**
If applicable, add screenshots to help explain your problem but please no code

[2020-11-24 20:55] henon commented on #154
This one is very easy to fix, the order of the th elements is not right.

[2020-11-24 21:26] Garderoben commented on #154
I will fix it since i brake it... i must have forgotten when i moved the description to right side.

[2020-11-24 21:42] Garderoben commented on #154
Fixed, pushed to dev branch, updated live website since it only was related to docs and added DataLabels so the table looks better on smaller devices.

![image](https://user-images.githubusercontent.com/10367109/100154650-3abf5a80-2ea6-11eb-8522-ceab6975f5ce.png)

[2020-11-24 21:42] #154 closed

[2020-11-24 23:48] Garderoben commented on #151
For what use case / purpose?

[2020-11-25 00:00] Garderoben commented on #125
Closing this one since it seems like he got the tips to do it, and we haven't heard anything else.

[2020-11-25 00:00] #125 closed

[2020-11-25 00:12] Garderoben commented on #131
I will have to run the importer again to properly fix this.

The idea was that the icons would be used like this:
[code]
That dident work the way i implemented it and was left with the thought that only filled icons works for now.
But i noticed people using them like this  `@Outlined.AccessLarm`

Before doing the re import, i would like to either fix it so it works the way it was "designed" for, i

[2020-11-25 01:14] Garderoben commented on #149
@henon i might need some help here..... (yes with a bool)
i really tried to implement it in a optional way but whatever i do it always get **readonly** set even if the bool is true?

Tried with a new Parameter bool with default true in MudSelect.cs that gets passed down to MudInput but even when to false the input still get ReadOnly.
Tried with a new Parameter bool in MudSelect.cs that sets the ba

[2020-11-25 05:10] nmakhmutov opened #155 "Drawer doesn't change padding on small screen"
**Describe the bug**
Drawer component with property clipped="true" on small screens ( < 600px) has defect. Appbar change padding from 64px to 56px but drawer don't change own paddigns. Therefor on small size screens above drawer apper unnecessary gap

**Expected behavior**
Correct padding on small screen and other sizes

**Screenshots**
Screen with size more then 600px
![image](https://user-images

[2020-11-25 07:27] henon commented on #151
I know in Vuetify it is the primary way of controlling a dialgo.

[2020-11-25 07:32] henon commented on #149
I'll look at it.

[2020-11-25 07:35] nmakhmutov commented on #155
And same situation when clipped="false"

![image](https://user-images.githubusercontent.com/28149951/100196447-ec43a780-2f09-11eb-830e-16ce7cb49689.png)

[2020-11-25 07:50] henon commented on #149
Fixed. When you look at Vuetify, there is no way a select's input can be typed in. We have Autocomplete for that. So I just made the input field readonly always.
The ReadOnly parameter is now implemented correctly for Select, meaning that it won't open the dropdown.

[2020-11-25 09:21] cmorgado opened #156 ""Server pagination for Table""
Using the table component is exceptionally good but the pagination is client side.

What would be nice is that we could use a table model to have pagination via server

It could be the exposing of a Total Records , Items per page properties and an event on the pagination buttons so we can "refill" the table.

[2020-11-25 12:48] henon commented on #156
Do you want to work on this?

[2020-11-25 14:30] Flaflo opened #157 "Ripple effect on mouse position"
**Is your feature request related to a problem? Please describe.**
The ripple effect just looks too stiff.

**Describe the solution you'd like**
The ripple effect should start at the position of the mouse and not in the center of the element. This would just look more natural and not as "stiff" as it does right now.
The way I know it would involve JavaScript, but maybe there are other ways to do i

[2020-11-25 14:33] quilnux opened #158 "Unable to call Alert control in code"
I have a design-time Alert control being used on an EditForm to tell the user their form was successfully submitted. There are 4 states of success and the InnerText element of the Alert needs to be changeable in code for each of the 4 success states. This should not require the use of a binding but should be directly updateable in code.

In addition, Alert control properties should be updateable f

[2020-11-25 14:36] Flaflo commented on #85
Should I add an option to let them show "outside" and "inside" like quasar does? At the moment they are "floating" above the tabs.

[2020-11-25 14:38] Flaflo commented on #158
Whats the matter with using bindings?

[2020-11-25 14:39] cmorgado commented on #156
Ok let me clone the project and give it a try.

[2020-11-25 14:42] henon commented on #158
I get the feeling you are fighting against the framework. Check this out, this is how it is done in Blazor, pretty simple. https://try.mudblazor.com/snippet/GavlmpPS41mi494n29

[2020-11-25 14:46] quilnux commented on #158
It adds unnecessary complexity within the code in our specific use case. I would expect this control to work like a label with some automatic styling based on the Severity property. I should be able to do Alert.Text = "Blah" (or Alert.Content) without having to create discrete string variables everywhere and then run bind code just to make a small change. It doesn't make any sense to do that.

I'm

[2020-11-25 14:50] henon commented on #158
Aside from the binding vs direct update from code (which is possible with @ref) the MudAlert was not derived from our MudComponentBase and didn't support attribute splatting, Class and Style. I'll change that.

[2020-11-25 14:56] henon commented on #158
Oops, also, the Icon was only determined on OnInitialized. Another bug that would not allow updating the alert on the fly :)

[2020-11-25 14:59] henon commented on #158
btw @quilnux, even though I added attribute splatting, id="" or name="" would not work for you to obtain a component reference. it would only give you the internal div element of the alert.

[2020-11-25 15:02] quilnux commented on #158
Alright, I'll have to find something else for this one.

Thanks for trying.

[2020-11-25 15:02] #158 closed

[2020-11-25 15:25] bgulrich opened #159 "Table with fixed header and multiselect enabled shows selection checkboxes through header"
Table with fixed header and multiselect enabled shows selection checkboxes through header.

![image](https://user-images.githubusercontent.com/13284399/100247272-ce714500-2eff-11eb-92d1-dd5418490c2f.png)

TryMudBlazor failed to save snippet, _Main.razor below

`<MudText Typo="Typo.h6">MudBlazor</MudText>

<MudTable Items="@Items" Hover="true" SortLabel="Sort By" FixedHeader="true" MultiSelection="

[2020-11-25 15:43] Garderoben commented on #157
Been thinking about this since i knew someone would not be happy with it coming from the middle all the time.

For me and some other i talked to the first question we should ask ourselves, is it worth to calculate this on the server (blazor server)? Its no longer a TimePicker that is used sometimes the ripple is used everywhere constantly. Lets say you have 1000+ users constantly, do we want all t

[2020-11-25 15:51] henon commented on #157
It is a question of cost. If it is simple in JS but extremely difficult otherwise I'd rather do it in JS. A JS solution would be strictly client-side wouldn't it? No need to communicate back to the server I think.

[2020-11-25 15:57] lindespang commented on #131
@Garderoben Yes there are many different ways of doing this. One way is, if you want that Icons should be retrieved always using Icons.X.X.X syntax:

* Make Icons public static class
* Make all other nested classes public with an internal constructor (This makes framework being able to return class, but user cant instansiate it themselves)
* Assign property Material in Icons with "new Material()"

[2020-11-25 16:05] Garderoben commented on #159
@bgulrich works to save now for me on TryMudBlazor can  you try again?

[2020-11-25 16:05] Flaflo commented on #157
1. I completely forgot about Serverside Blazor :o the only way to make this not constantly requesting the server is actually to do it with client side javascript
2. The animation itself looks quite nice, but the effect in the whole looks too stiff, but thats just my opinion.
3. As you mentioned in 1. it would be not that nice doing that in blazor, unfortunately
4. That is a quite hard questions..

[2020-11-25 16:06] Flaflo commented on #157
JS is client-side and would solve some problems @Garderoben mentioned.

[2020-11-25 16:17] bgulrich commented on #159
@Garderoben - still not working for me. How about this?

[_Main.txt](https://github.com/Garderoben/MudBlazor/files/5597900/_Main.txt)

[2020-11-25 16:27] Garderoben commented on #157
Also im sure its a way to improve it with just CSS, but where is the acceptance level? does it need to start 100% from where the mouse clicks? lets say this is a component that had ripple effect, would it start in any of this areas be okay for example?
![image](https://user-images.githubusercontent.com/10367109/100254399-8c1d2780-2f42-11eb-8d1d-d551142236e3.png)

I think where to start is look at

[2020-11-25 17:47] henon commented on #85
If you want? It's up to you ;)

[2020-11-25 17:56] Garderoben commented on #159
@bgulrich awesome thanka, i look into it!

[2020-11-25 18:19] Garderoben commented on #159
Fixed with this commit in dev branch: https://github.com/Garderoben/MudBlazor/commit/f93ba532af49ce5bdeb2762568750c34a0d471f3
I think this way is better to use than overflow, havent notice anything weird in the scenarios i tried.

[2020-11-25 18:53] fuadyhidayat opened #160 "MudDatePicker MinDate and MaxDate is not working"
**Describe the bug**
MinDate and/or MaxDate has been set. But the user still able choose value beyond MinDate and/or MaxDate.

**Expected behavior**
The user should not be able to select the date less than MinDate and the date greater than MaxDate.

**TryMudBlazor**
https://try.mudblazor.com/snippet/QEFvQflW51Qlf5Xf10

Thank you so much for your support, guys.

[2020-11-25 18:56] henon commented on #160
I see. The day buttons in the picker should be disabled when outside of date limits and the value should be coerced too if it happens to be outside.

[2020-11-25 18:57] henon commented on #160
It is very easy to fix. Do you want to try?

[2020-11-25 19:00] fuadyhidayat commented on #160
Well, I would be more than happy to help! :D

I'll clone the repo and look into the source code.

[2020-11-25 19:11] fuadyhidayat commented on #160
Added this code to the MudIconButton in MudDatePicker.razor

` Disabled="@((day < MinDate) || (day > MaxDate))"`

How do I know if my code is correct?

[2020-11-25 19:51] Garderoben commented on #155
Yeah i notice that, working on it now, i notice some other missing vars that i'm fixing will probably commit to dev tonight or tomorrow. Looking into temporary drawer at the same time for smaller devices.

[2020-11-25 20:38] henon commented on #160
Have you tried it out by running the documentation project?

[2020-11-25 20:39] Garderoben commented on #144
@MattChique Sorry quite bussy days for me atm, i'm trying to replicate what you explaining but i cant.
In your example it would be wider if the parent had a set width.

TryMudBlazors Main does not have have width set or content set to width 100 / display flex. But if set its automatically wider.
![image](https://user-images.githubusercontent.com/10367109/100278919-e5e31900-2f65-11eb-8ff1-0bb7827b0

[2020-11-25 20:53] Garderoben commented on #85
@Flaflo You mean kinda like this? that would be cool, tell me if you need some help with css,scss animations or anything in that area :)
![image](https://user-images.githubusercontent.com/10367109/100280413-715da980-2f68-11eb-9d01-953729e3052f.png)

[2020-11-25 20:55] fuadyhidayat commented on #160
Before you ask: No, not yet :P

Now: Yes I have. And it runs smoothly.

Please accept my Pull Request ;)

Thanks!

[2020-11-25 21:00] henon commented on #160
Thank you too! Honestly.
This library is getting more and more popular so the number of issues goes up. Every little fix helps us to be a little bit less overloaded.

[2020-11-25 21:03] Garderoben commented on #131
@lindespang Thanks man! i will try it out and see what road is the best :)
Either way i feel like its better that i fix this now when its less user impact than lets say in 6 months and updating probably brakes not only more projects but bigger ones also.

[2020-11-25 21:11] henon commented on #160
PR was merged.

[2020-11-25 21:12] henon commented on #160
We'll close this when it is released.

[2020-11-25 22:55] fuadyhidayat commented on #160
Hey, man. Glad to help! I think I'm enjoying this. Let me know if I can do more some little fixes.

[2020-11-26 02:43] sorainnosia opened #162 "MudNavLink"
**Describe the bug**
The OnClick attribute is not working. I want to make the drawer to close when Mudnavlink is clicked.

I hope it becomes standard behavior, because what is the purpose of keep changing navigation while user is focus on the things they need to do on a page after navigating.

**Expected behavior**
OnClick method is triggered which can change variable Opened to false

**Screenshot

[2020-11-26 07:32] Garderoben commented on #162
Double bind the Drawer like this and it will auto close. `<MudDrawer @bind-Open=_drawerOpen `>
It will be standard behavior on smaller devices, phones etc. I'm working on a "dialog" drawer or temp drawer for that, that is not connected with the appbar/layout.

[2020-11-26 07:39] Garderoben commented on #151
@henon I'm not seeing the use case here.
Lets say you want the dialog to open on page load, not a problem just call the function.
Or you want to change something if the dialog is open, you can do the changes in the function that opens the dialog and so on.

@nilssol can you please provide further explanation with a use case/purpose?

[2020-11-26 07:41] Garderoben commented on #55
Started working on this.

[2020-11-26 07:56] RobertoMilani opened #163 "Autocomplete: add multi-selection"
Select component with multiselect option enabled will be perfect if it integrates a search - auto-filter inline function (a filter behaviour selectable between "onenterpress" (for huge content) or "onkeypress" (for limited items content)) and a optiont to show as first item (when any) a "select all" item.

A behaviour like this:
https://blazor.syncfusion.com/demos/multiselect-dropdown/grouping-wit

[2020-11-26 07:56] nilssol commented on #151
Maybe I do not quite understand how the dialogue in MudBlazor works, but as I have done before in MatBlazor. Let's say I have a page where I manage the users of the website. I have then a dialog lying on the page and then open this dialog when I carry out CRUDE operations - with relevant information stored in variables etc on the relevant page.

[2020-11-26 08:19] henon commented on #162
Yes, you can use the auto-close feature by binding two-way to the Open parameter. And yes, the OnClick wasn't fired which is fixed now.

[2020-11-26 08:27] henon commented on #163
Check out our Autocomplete which has most of these features you describe: https://mudblazor.com/components/autocomplete
When we add multi-selection that would be it. Changing the title accordingly.

[2020-11-26 08:30] sorainnosia commented on #156
I happen to be like you.
I wrote a Pagination component with 4 button, prev, next, first and last

Then hook the component with the main page page index and event to trigger when page change

Mudblazor lacks manual pagination component. Only have table embedded pagination component

[2020-11-26 08:31] henon commented on #151
There are plenty of use-cases for a two-way bindable IsOpen, we have the same for Drawer.

[2020-11-26 08:32] RobertoMilani commented on #163
Yeah, you are right!
Thank you for the clarification :)

[2020-11-26 08:34] sorainnosia commented on #122
I reference mudblazor on .Net 5 blazor project

Everything works

Can enlighten me why it work?

[2020-11-26 08:43] sorainnosia opened #164 "MudCardMedia image sometimes not loading"
**Describe the bug**
This is a weird issue. Sometimes it works and sometimes don't.

My MudCardMedia Image attribute is made up of a c# string with join

Image="@("/sample/" + context.ImagePath.Replace("\\\\","/"))"

The context is from a loop. The image didn't load sometimes but clicking on link of the card to the detail of the card object. The image loads fine with using MudCardMedia too

I wond

[2020-11-26 08:47] henon opened #165 "Add a MudPagination"
I happen to be like you.
I wrote a Pagination component with 4 button, prev, next, first and last

Then hook the component with the main page page index and event to trigger when page change

Mudblazor lacks manual pagination component. Only have table embedded pagination component

_Originally posted by @sorainnosia in https://github.com/Garderoben/MudBlazor/issues/156#issuecomment-734152267_

[2020-11-26 08:48] henon commented on #156
I added an issue for a pagination component.

[2020-11-26 08:51] sorainnosia commented on #162
Hi Henon

I did use bind-Open to bind to a variable

But I need this variable to change to false after a link is clicked

That's why I need Mudnavlink to call a function to change it to false and proceed with navigating to the page it set in href

Currently when a link is clicked, the menu stays open. Clicking on the body of the page container itself do not close the menu either. You have to click

[2020-11-26 08:53] henon commented on #162
It does! Did you bind it two-way? Have you checked our doc page where it is described?

[2020-11-26 08:55] ChristianWeyer commented on #122
Why should it not work?

[2020-11-26 08:56] henon commented on #162
we release about once every week. it will be included in the next nuget.

[2020-11-26 08:59] henon commented on #162
Hmm, here it works: https://mudblazor.com/components/drawer
But yours doesn't. You say you bound with bind-Open and it still doesn't close? Strange.

[2020-11-26 09:00] henon commented on #165
Should be very easy to add. We can reuse the CSS for the existing table pager.

[2020-11-26 09:03] Garderoben commented on #165
I think @lindespang said something he wanted to make it a separate it.

The one we have is for table pagination and differs quite a bit from other pagination components.
But i would use the MudToolBar and then MudPaper for eatch "button" to get this:

![image](https://user-images.githubusercontent.com/10367109/100329913-92f17c00-2fce-11eb-92ff-dfac1af86ceb.png)
![image](https://user-images.githubu

[2020-11-26 09:07] henon commented on #165
Even better ;)

[2020-11-26 09:08] sorainnosia commented on #162
Let me show u example

1. Open Mudblazor.com (supposed it's using Mudblazor)
2. Click getting Started
3. Page content is loaded with getting started content but the menu is not automatically close
4. Sample below image

https://i.imgur.com/su5KgRu.jpg

Clicking on the page content on right also didn't close the drawer

The drawer only close when clicking hamburger the second time

[2020-11-26 09:09] henon commented on #122
@sorainnosia net5 is backwards compatible and allows 3.1 libs, that's why ;)

[2020-11-26 09:15] Garderoben commented on #151
@nilssol you can do exactly the same here, but with cleaner and less messy page files. You can have "template dialogs" that you just fill with data from your page. Wait let me create a example for your give me a few min.

@henon @nilssol
I think the docs page can be a bit unclear / missing information its really not that complex, i will clean them up and explain it better.

[2020-11-26 09:17] henon commented on #162
I get it now, you are talking about drawer auto-closing on small screens.
But check out the first example here https://mudblazor.com/components/drawer. We have auto-closing, it just isn't enabled for our documentation site's drawer.

[2020-11-26 09:25] henon opened #166 "Drawer: auto-close on mobile breakpoint"
**Is your feature request related to a problem? Please describe.**
Drawer doesn't auto-close on small screens or when you resize the window small

**Describe the solution you'd like**
Drawer should have a Breakpoint parameter that controls on which screensize the drawer auto-closes. When opened it should display an overlay so that it is clear that the drawer is only temporary: https://vuetifyjs.co

[2020-11-26 09:26] sorainnosia commented on #162
Oh I didn't know there is difference between Open and bind-Open

Maybe I am using Open and not bind-Open

Thanks for the help.

[2020-11-26 09:26] henon commented on #162
Opened #166 for a mobile breakpoint feature

[2020-11-26 09:27] sorainnosia commented on #162
I am assuming Open and bind-Open is the same

I will check it once I come home

[2020-11-26 09:33] sorainnosia commented on #162
Sorry for the trouble and thanks

[2020-11-26 09:34] nmakhmutov commented on #122
For instance in .net5.0 new css isolation doesn't work with Class attribute in Mud components

[2020-11-26 09:35] #162 closed

[2020-11-26 09:39] sorainnosia commented on #165
Hi

It would be great if the pagination shows last page number

During page index in the middle, it has button to directly go first and last page. That would be great

But some system or api do not know last page, it just continuously moving forward

Just some thought

[2020-11-26 09:47] sorainnosia commented on #166
Actually there are some issue when the page has a Mudtable that is too wide

The mobile interface loads only partial width of the screen

I solve this issue by adding overflow-x scroll to MudTable so that the page didn't enlarge

See below
https://i.imgur.com/Vc90C70.jpg

The card remains correctly but inside of the table is scrollable

But I just notice the mud table now has breaking column to be

[2020-11-26 09:52] henon opened #167 "MudTable issue on mobile screens?"
Issue posted by @sorainnosia

Actually there are some issue when the page has a Mudtable that is too wide

The mobile interface loads only partial width of the screen

I solve this issue by adding overflow-x scroll to MudTable so that the page didn't enlarge

See below
![img](https://i.imgur.com/Vc90C70.jpg)

The card remains correctly but inside of the table is scrollable

But I just notice the m

[2020-11-26 09:54] henon commented on #166
I opened a separate issue for the table problem #167 it should not be discussed in this thread.

[2020-11-26 09:56] henon commented on #167
@sorainnosia: I think you should repro this issue in try.mudblazor.com so we can take a look at it.

[2020-11-26 10:00] sorainnosia commented on #122
I see, that's very good. Many libraries are usable

[2020-11-26 10:08] Garderoben commented on #166
Already working on this.

[2020-11-26 10:11] nmakhmutov commented on #122
Yea, I wrapped some components with div with class attribute and that help me to resolve this problem. However I thought mayby component need some attribute (mayby inherits). Anyway mayby in the future blazor team will resolve this proplem

[2020-11-26 11:12] Flaflo commented on #157
Personally, I'd prefer a precise mouse position. I think it is not too tradgic to have at least a little bit of JS for this.

[2020-11-26 11:20] Flaflo commented on #85
Yea exactly!

But for the scrolling it will require a small amount of JS...

[2020-11-26 11:39] Flaflo opened #168 "Elevate button on pressed"
**Is your feature request related to a problem? Please describe.**
Components, especially buttons feel very stiff, not just because of #157, but because they dont give visual feed back on mouse pressed / hold.

**Describe the solution you'd like**
A button should be elevated a little bit when the mouse is pressed for the user experiences sake

**Describe alternatives you've considered**
No alterna

[2020-11-26 11:44] Flaflo commented on #168
If the button is not elevated and flat optionally the color can be slightly darkened to give visual button pressed feedback

[2020-11-26 11:44] henon commented on #157
Also, right now the ripple is on mouse up which is incorrect too. It should start on mouse down and should not go away until you release the mouse. releasing inside the button clicks it. outside it doesn't.

[2020-11-26 11:45] Flaflo commented on #168
This will let buttons and maybe other components look less "stiff"

[2020-11-26 12:07] Garderoben commented on #151
@nilssol here is one way to do it, normaly i would pass down the whole class but i could not becuse of try.mudblazor so i passing them as strings, that makes it look a bit messier than it can be. https://try.mudblazor.com/snippet/QuvFQUvQ0204CyAd01
Picture for how i would do it with a class and not string parameters:
![image](https://user-images.githubusercontent.com/10367109/100349149-461a9f00-2f

[2020-11-26 12:54] Garderoben commented on #168
@Flaflo This should can be fixed pretty quick, i can do it but i have to prioritize the open issues first.

Good catch, i think it goes back to 2019 and my private project components where based of Material UI and they also lacked it at that time.

[2020-11-26 12:58] Flaflo commented on #168
Sure, this one has not a high priority. It's just nice to have. :)

[2020-11-26 14:04] nmakhmutov opened #169 "Add OnClick event for MudTabs"
**Is your feature request related to a problem? Please describe.**
MudTabs doesn't have onclick event. However it's nessesary event for managing content inside tab. For instanse dynamic loading from API or for using tabs like a link

**Describe the solution you'd like**
Just add OnClick for MudTabs with identity each tab or add OnClick for MudTabPanel

[2020-11-26 14:17] nilssol commented on #151
@Garderoben  thanks for explaining, got it working now &#128521

[2020-11-26 14:33] henon commented on #169
this is very easy to add. do you want to try?

[2020-11-26 15:11] henon commented on #160
You can pick an issue whenever you feel like it. We'll appreciate your help. Also we add you to the list of contributors on the official website.

[2020-11-26 15:22] nmakhmutov commented on #169
@henon only if you insist https://github.com/Garderoben/MudBlazor/pull/170 :)

[2020-11-26 15:24] henon commented on #169
Thank you @nmakhmutov. Issues are exploding right now and we are struggling to keep up. Your contribution is highly appreciated ;)

[2020-11-26 17:54] bgulrich commented on #159
Thanks, that's impressive turnaround time!  I'll watch for an updated version.

[2020-11-26 19:03] Garderoben commented on #151
@nilssol any other use cases or so you wondering about?

i have started from beginning with the dialog docs from now on we will show both codes next to eatchother if your screensize allows you to. I will start the docs with the most simple versions and then show how the dialogs can be reused.

Further down it will come to more advanced cases with runningjobs, result OK True/False and Passing / Ret

[2020-11-26 19:08] Garderoben commented on #85
@Flaflo Yeah no problem, i might try to solve it after your PR with just CSS before it hits master branch, hope your okay with that.
I thought i would need to make the moving active line in JS also but i managed with just Blazor and CSS so this should totally be doable also.

[2020-11-26 19:30] nilssol commented on #151
@Garderoben  that sounds like a good idea, i struggled a little to understand the dilaog setup.

Nothing i can think of right now, but i'll make contact if struggle again.

[2020-11-26 20:57] Garderoben commented on #141
Fixed with https://github.com/Garderoben/MudBlazor/commit/330d778d7893e9c8b3c1887c16e0c6c8bb7b1d86 in devbranch.
Will be in the next release.

[2020-11-26 21:30] Garderoben commented on #155
@nmakhmutov some other stuff got in the way. Its fixed now with commit: https://github.com/Garderoben/MudBlazor/commit/937d75087b13b2aaedfe9dbd1967fc64fc6e3110  in devbranch should be in next release.
I hope to have the new Dialog/Temporary drawer there as well.

![image](https://user-images.githubusercontent.com/10367109/100392339-86087300-3036-11eb-869e-bbc65df687f7.png)

[2020-11-26 21:56] Garderoben commented on #167
@sorainnosia Yeah i need some more to work on, if its not possible to replicate on try.mudblazor.com then send a .txt file here with the table and mock data.

The only thing i can replicate so far is the pagination issue, working on that one now.

[2020-11-26 22:19] #151 closed

[2020-11-26 22:36] riccardobecker opened #172 "Question regarding layouts"
Hi all,
i really like Mudblazor and planning on experimenting. I need to build a dashboard but somehow all mudblazor examples are more like a centered page that can scroll down. Is there also a way to create a widescreen page and put more components in one single view?

Server side blazor is my way to go btw.

thanks!

[2020-11-26 23:15] Garderoben commented on #172
@riccardobecker absolutely!, i know we are lacking the "showing of what's possible" but i'm building a dashboard/admindashboard template when i need a brake from the normal stuff and have some fun.

I will clean it up and show you, give me 5 min.

[2020-11-26 23:32] Garderoben commented on #167
Pagination now after my fix, but still cant replicate the table in the screenshots above.

![image](https://user-images.githubusercontent.com/10367109/100397020-f23fa280-3047-11eb-87a5-7e6831b0be37.png)

[2020-11-27 00:13] Garderoben commented on #172
@riccardobecker you had something like this in mind? sorry the lack of content still work in progress.
This is how i set up the Layout:
![image](https://user-images.githubusercontent.com/10367109/100398195-c0c9d580-304d-11eb-8d97-cbc24b7d89b2.png)

And then in my Dashboard i only use MudGrid and items display nicely on different screen sizes.

![image](https://user-images.githubusercontent.com/103

[2020-11-27 02:34] porkopek commented on #164
Did you put the @key inside the elements that are created in the loop?

Like in this  example
`
 @foreach (var image in _images)
    {<MudItem @key="image.GetHashCode()" xs="12" md="4">
            <MudCard Elevation="1" Style="max-width:100%">

                ...

            </MudCard>
        </MudItem>
    }
`

[2020-11-27 04:22] sorainnosia commented on #164
No, I didn't use key

[2020-11-27 04:33] sorainnosia commented on #167
Hi, it's because I add overflow-x scroll to the table in first image

Because I am using old release before mud breaks column into row in new Mudtable implementation

So I have to upgrade my mudblazor version

Thanks

Will let you know if there is any other issue

[2020-11-27 04:42] sorainnosia opened #173 "Screen can horizontally scroll when using some component"
**Describe the bug**
This is just ideal case, best to have for a professional looking app.

When for example a page uses component such as Tab or Mudtable, the mobile screen will have extra width larger than the mobile screen width causing a horizontal scroll

This does not happen when the page does not have uses tabs or table components

**Expected behavior**
Expecting only vertical scroll

**Try

[2020-11-27 07:14] Garderoben commented on #167
@sorainnosia Ah okay, so you dident have the table that was responsive?
That explains stuff :D

Either way the pagination was bugged on really small screen sizes but on all the "phones" i tested on it should be fine. All the way down to 340-350px ~ but i cant imagine anyone have that + a blazor capable browser. Galaxy S5, Moto G4 has 360px so.

[2020-11-27 07:29] riccardobecker commented on #172
absolutely stunning! Thanks for your quick reply and explanation. Got it!

[2020-11-27 08:31] Garderoben commented on #172
Awesome will close this one then, the community is pretty active in our gitter chat, so if you wonder anything just come by!

[2020-11-27 08:31] #172 closed

[2020-11-27 09:25] sorainnosia commented on #167
Thanks @Garderoben

I will upgrade my mudblazor version and see whether it's already in nuget

[2020-11-27 12:42] porkopek commented on #164
Then, use it. This must be the problem.

[2020-11-28 12:29] henon commented on #122
@Flaflo I tried to compile the net5 branch but I can't get the MudBlazor.Docs.Server project to compile

![image](https://user-images.githubusercontent.com/44090/100515621-b73f8b00-317d-11eb-8bda-d6381a43aa12.png)

Does it compile for you?

[2020-11-28 13:02] Flaflo commented on #122
Yes it did dir me, i checked everything before made the pr.

I will check on my home computer later

[2020-11-28 14:04] henon commented on #153
The problem was that for string values, the validation did not regard empty string values as a form error. Fixed and will be released soon.

[2020-11-28 15:24] henon commented on #110
Implemented in 015ea5e5 Will be released soon

In addition to `Func<T, bool>`, `Func<T, string>` and `Func<T, IEnumerable<string>>`, you can now also supply the async versions  `Func<T, Task<bool>>` etc.

[2020-11-28 17:21] #121 closed

[2020-11-28 17:22] henon commented on #77
We now have project starter templates!

https://github.com/Garderoben/MudBlazor.Templates/tree/master/MudBlazor.Template.Blazor

[2020-11-28 17:22] #77 closed

[2020-11-28 17:24] henon commented on #74
This could be implemented on the new net5 branch

[2020-11-28 19:29] ChristianWeyer opened #175 "Mobile: open drawer causes content to be squeezed"
This is from the official template: https://github.com/Garderoben/MudBlazor.Templates

![Mobile](https://user-images.githubusercontent.com/888718/100524398-25a13f00-31b8-11eb-81cd-de8be00aea98.gif)

I think the view on the right should not be squeezed when the menu drawer opens. This is not a mobile-like behavior ;-)

[2020-11-28 21:17] #153 closed

[2020-11-28 21:17] #160 closed

[2020-11-28 21:27] Garderoben commented on #175
@ChristianWeyer Its not really a bug, its designed like that, on mobiles there is supposed to be a "dialog drawer" "temporary drawer" i'am working on it and is almost done.

See: https://github.com/Garderoben/MudBlazor/issues/166

[2020-11-28 22:30] Flaflo commented on #122
@henon I spotted the problem. I wrongly assumed that the Docs Server is WASM but it is indeed a server side rendered project. The issues is that the SDK is set to "WebAssembly" which is completely wrong here. But I still ask myself why this all compiled on my work machine...

[2020-11-29 01:35] maxpowernz opened #177 "Links on Mudblazor site dont work on first click"
When going to your main webpage, as soon as the dom renders and you click the get started button, or any other link button nothing happens, is this another downside to using blazor?

[2020-11-29 10:01] Garderoben commented on #169
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:01] #169 closed

[2020-11-29 10:01] Garderoben commented on #159
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:01] #159 closed

[2020-11-29 10:02] Garderoben commented on #149
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:02] #149 closed

[2020-11-29 10:02] Garderoben commented on #155
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:02] #155 closed

[2020-11-29 10:03] Garderoben commented on #143
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:03] #143 closed

[2020-11-29 10:03] Garderoben commented on #141
Closing this now, its in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:03] #141 closed

[2020-11-29 10:22] Garderoben commented on #167
Closing this now, its fixed in version 1.1.5 Nuget: https://www.nuget.org/packages/MudBlazor/1.1.5

[2020-11-29 10:22] #167 closed

[2020-11-29 10:54] ChristianWeyer opened #178 "Feedback from Twitter: Make Website and docs fully mobile-compatible"
I think this is good feedback as this documents a first-encounter-experience of potential new users:

https://twitter.com/kerotek/status/1332999899881857024?s=20

[2020-11-29 11:01] henon commented on #178
Yes, you are right. We need to adopt a "mobile first" approach or we won't be recognized as a serious player.

[2020-11-29 11:56] Garderoben commented on #178
I see the current drawer as the biggest issue here? Since its designed for bigger screens in mind and ment to have another on smaller screens. I was hoping to have the new one done for 1.1.5 release but i prioritized all other CSS issues first.

We have implemented multiple components/utilities to build responsive websites sadly some of the documentation pages might not be super mobile friendly ri

[2020-11-29 12:02] Garderoben commented on #178
Please feel free to add pages that look crappy on mobiles here and we will fix them!

[2020-11-29 15:51] MichaelLant opened #179 "MudCard Hover State"
**Is your feature request related to a problem? Please describe.**
- Hover property for MudCard

**Describe the solution you'd like**
- As with MudTable rows when Hover=true, the background of the card changes to the hover state background color
- When the mouse pointer exits, the background color is reset to the pre-hover color

**Describe alternatives you've considered**
- This can be accomplish

[2020-11-29 16:38] MichaelLant opened #180 "Missing Code Sample"
**Describe the bug**
Auto Margin Code Sample missing from https://mudblazor.com/features/flex

**Expected behavior**
- Clicking on the associated icon to view the code sample has no action.
- Clicking on the copy icon copies the follwoing text to the clipboard: "https://mudblazor.com/features/flex"

**TryMudBlazor**
- https://mudblazor.com/features/flex

**Screenshots**
![image](https://user-image

[2020-11-29 17:53] Garderoben commented on #180
Fixed, Thanks!

https://mudblazor.com/features/flex

[2020-11-29 17:53] #180 closed

[2020-11-29 18:24] Garderoben commented on #164
@sorainnosia can you try what @porkopek explained if you haven't already?

[2020-11-29 22:32] #110 closed

[2020-11-30 01:19] Garderoben commented on #175
Work in progress but all the css is done and i decided on the most simple solution between some prototyping.
![image](https://user-images.githubusercontent.com/10367109/100559325-7301d700-32b2-11eb-992f-65a497c6fd7a.png)

[2020-11-30 05:13] subramanian-suresh opened #181 "File Upload Control"
I do not find the File Upload Control with single and multiple file upload options. It will be really nice, if we add this component in the existing component list.

[2020-11-30 06:53] Garderoben commented on #175
Whats left:
Close on breakpoint if open?
Dont close on nav link click for xxx screen size or bigger
Figure out what default behavior should be for clipped drawer on smaller screens.
![drawer](https://user-images.githubusercontent.com/10367109/100577558-c8ed7380-32e0-11eb-9556-a1745d69fa53.gif)

[2020-11-30 07:56] Garderoben commented on #179
i have this ready pretty much, i did a completely separate component <MudAreaAction> that you would just wrap the content with that you want to hover/have click action on. I cut it out of the 1.1.5 release because we just wanted to release bug fixes due to the rising issues, i had some problem to get ripple to look nicely on top of images but i see if i can fix that.

[2020-11-30 08:59] danielsolistensvik opened #182 "Examples/Documentation for Inline editing of MudTable"
**Is your feature request related to a problem? Please describe.**
When in editing mode of MudTable a check button appears in the right. Can't seem to find a handler/Parameter for this button.
It may be that this allready exists or I am not skilled enough to know how to handle this.
![image](https://user-images.githubusercontent.com/58626043/100588813-977da380-32f2-11eb-8f0f-55ab901d430e.png)

**D

[2020-11-30 09:31] henon opened #183 "MudForm: Fluent validation example in docs"
Add an example how to use FluentValidation with MudForm

[2020-11-30 09:42] henon commented on #182
I have notified the author of this feature about your issue. I hope he'll answer it. Otherwise I'll look into it later

[2020-11-30 11:15] HClausing commented on #182
Hello @danielsolistensvik and @henon

Actually, the purpose of this button is to finish the row's Edit Mode, rendering the RowTemplate for this row, instead of RowEditingTemplate (rendered when the user click's on a row to start editing). There isn't another handler possibility for it at the moment.

Usage example:

![inlineedit](https://user-images.githubusercontent.com/15158923/100603590-17e8d80

[2020-11-30 11:23] henon commented on #182
So I guess Daniel just wants to attach a handler that is fired when a row is updated, right? Should be easy enough to add

[2020-11-30 12:36] HClausing commented on #182
Created PR #184 for this purpose.

[2020-11-30 13:15] danielsolistensvik commented on #182
Yeah, that's what I would like. Instead of x number of onchange handlers for each input/checkbox etc.
Simply a handler for when exiting the editmode so all changes can be handled in one single action.
Might allready be a way to achieve this, but not to my knowledge :)

[2020-11-30 13:18] henon commented on #182
HClausing already PRed the necessary changes ;)

[2020-11-30 13:20] HClausing commented on #182
I hope PR # 184 is your solution.

[2020-11-30 13:26] danielsolistensvik commented on #182
Damn you guys are fast!
I am no expert programmer, but seems like this would absolutely do the trick! :)

[2020-11-30 13:38] HClausing commented on #182
Thanks!

Note: You can use the click handler or ICommand there.

[2020-11-30 15:36] MichaelLant commented on #179
Thanks - looking forward to seeing the results!

[2020-12-01 03:04] bgulrich commented on #159
Fix confirmed.  Thank you!

[2020-12-01 03:18] Garderoben commented on #175
Almost almost, just need to figure out the double click issue now..
![tempdrawer](https://user-images.githubusercontent.com/10367109/100692999-47ebb600-338c-11eb-9fe5-ff2e42d4f84a.gif)

[2020-12-01 03:35] Garderoben commented on #178
Fixed the home/index page on really small screens.
I added missing top/bottom padding on smaller screens.
All pages look good except some examples atm.

![Mudblazoronmobile](https://user-images.githubusercontent.com/10367109/100694073-87b39d00-338e-11eb-9f14-6c2d8c1568ff.gif)

[2020-12-01 06:33] MattChique opened #187 "mud-tab-slider shows wrong offset and width, when there are tabs with longer text"
**Describe the bug**
mud-tab-slider shows wrong offset and width, when there is a tab with longer text. Its offset and width is calculated, assuming that every tab has the same width.

**Expected behavior**
The mud-tab-slider should be drawn under the selected tab with the width of the tab

**Screenshots**
![image](https://user-images.githubusercontent.com/26269158/100705371-614e2b80-33a7-11eb-876

[2020-12-01 07:16] Garderoben commented on #187
@Flaflo is it worth my time to fix this one now, or whats the status on your version?

[2020-12-01 08:00] Garderoben commented on #182
Merged it to master > dev branch, then did a hard reset on master FYI

[2020-12-01 08:02] danielsolistensvik commented on #182
When will it be available for nuget update?

[2020-12-01 08:08] Garderoben commented on #182
@danielsolistensvik by the end of the week. Normally we release it sundays. But it can be friday or so depends on hows it going.

[2020-12-01 08:15] danielsolistensvik commented on #182
@Garderoben Super! Love this lib btw. Tried a few now, and this is by far the best looking and fastest growing.

[2020-12-01 08:38] henon opened #189 "CI: compile net5 branch with .net 5 sdk"
PRs to the net5 branch will not compile. I suspect the build server tries to compile them with 3.1 sdk.

[2020-12-01 09:01] Flaflo commented on #187
I think its worth your time, because I did not change anything on the css. My only changes are buttons that scroll left and right when the tabs overflow. In addition I do lack the experience with CSS :D

[2020-12-01 09:47] juhapehkonen-navium opened #191 "Performance on older devices"
**Describe the bug**
I've built a very simple form with about 12 components (link below) and while it works fine on my laptop and iPhone 8, it's quite sluggish on my iPad Air 2. When I select a radio button or tap on a text box, there's about a one second delay before the button is selected/text box receives focus. I don't know, if it's because there's something specifically wrong in my form or if

[2020-12-01 09:54] Garderoben commented on #191
Well first of, in your project are you running client or server side? if server side are you using a real SignalR service?

But when i try your Form on TryMudBlazor its really slow even on my computer compared to on my ownprojects so there might be something funky

[2020-12-01 10:00] juhapehkonen-navium commented on #191
It's a pure client app. Interesting that it's slow on your computer. In my case it's sluggish only on the old iPad.

[2020-12-01 10:28] henon commented on #191
I can reproduce it with Chrome on Mid-Tier setting. The chrome profiler says this:

![image](https://user-images.githubusercontent.com/44090/100728741-3aecb800-33c8-11eb-9cdb-7eabdbbf381b.png)

Allmost all the time is used up in JS

[2020-12-01 10:39] henon commented on #191
It seems to be the datepicker. Removing it makes the switch a lot faster

[2020-12-01 10:46] henon commented on #191
Also the timepicker. when you remove both the switch time becomes acceptable

[2020-12-01 11:09] juhapehkonen-navium commented on #191
I removed them both and did see an improvement. I believe we saw a similar improvement in our tests when we just removed binding especially from the date picker. However, if I now copy all the MudCards and duplicate them twice, so that there's 3 of each of them, response times with the mid-tier device emulator roughly triple. And it's still not an unreasonably large form.

[2020-12-01 11:22] henon commented on #191
I will look into speeding up initial rendering. there is probably too much processing on the rendering task right now that could be done in the background (or even at a later time) and then applied in a second rendering step. that way it would not block the UI so long.

[2020-12-01 17:23] Garderoben commented on #191
I have the dialog versions pretty much ready also they will not be in the initial render either

[2020-12-02 08:31] henon commented on #191
I increased the initial rendering speed of MudDatePicker and MudTimePicker by factor 40 by not rendering the dropdown  when it is closed. They will not slow down the page render anymore but of course every time they open, it will take some time on mid-tier devices.

[2020-12-02 15:08] lindespang commented on #191
@henon @Garderoben I believe the main problem is that MudForm forces all components to render again on validation events. Maybe this avoidable?

Remove the form component and you will see that it's snappy.

[2020-12-02 15:21] juhapehkonen-navium commented on #191
I removed the form component and the performance is indeed good now on my iPad. In the mid-tier emulator the radio buttons were still a bit sluggish, but I assume there's another reason that. Re-rendering all components would also explain why the performance appears to degrade when you add more components to the form.

[2020-12-02 16:14] henon commented on #191
oh I see. because the form changes on every validation event all its children are automatically re-rendered. we should avoid that.

[2020-12-02 17:01] danielsolistensvik opened #194 "MudSelect HelperText for Int"
**Describe the bug**
When setting T as int, the helpertext doesn't work as expected. HelperTextis automatically set to 0. Working as expected for string.

**Full example**
<MudSelect T="int" Label="Mottakere"
                                       @bind-Value="@smsSend.receiverGroupId" For="@(() => smsSend.receiverGroupId)"
                                       OffsetY="true">
    @foreach (var g

[2020-12-02 17:47] websam opened #195 "Modal version of the Drawer?"
Hello,

I was looking into the drawer component at https://material.io/develop/web/components/navigation-drawer#types and saw that there is a modal version of it. Is that possible to do already?

Otherwise, that would be a nice feature to the Blazor version of the drawer.

/Martin

[2020-12-02 18:05] henon commented on #194
Hi, Daniel, I don't see a bug here. Let me explain:

You have selectable values 1, 2 and 3 in your select. But the bound value is initialized to 0 which can not be represented by any of the select's choices. Thus the select resorts to displaying the value 0.

If you want to remedy that you can do either of the two:
1) add 0 to the select i.e. `<MudSelectItem T="int" Value="0">Nothing selected</Mud

[2020-12-02 18:09] henon commented on #194
maybe, we could add a third option by adding a parameter `ShowValuesNotInList` to MudSelect which you could set to false.

[2020-12-02 18:23] henon commented on #195
Yes, we are working on that. see #175 #166

[2020-12-02 18:51] websam commented on #195
Thank you i'll follow those ;o)

[2020-12-02 20:51] henon commented on #191
@juhapehkonen-navium I just committed a change that will suppress render updates in MudForm on validation. Also, you can configure the validation delay which allows you to fine-tune performance on slow devices.

[2020-12-03 01:27] porkopek commented on #181
Currently, I'm working on a PR to solve this, but it will take some time, because file upload is kind of tricky. In .Net 5.0, there is a native solution, but in 3.1 it involves some JS.
What do you expect this component to do? Expose an EventCallback that gives you the files you are uploading in a stream and you will upload them to the server?
Something like

[code]

[2020-12-03 02:58] Garderoben commented on #194
@henon i think he is right it should display just the label nothing else no matter what the T is.
https://try.mudblazor.com/snippet/GkvQOHaG570BfMcw11
![image](https://user-images.githubusercontent.com/10367109/100957849-8663ab00-351b-11eb-9870-335cb73f066c.png)

[2020-12-03 07:13] danielsolistensvik commented on #194
@henon I guess it's not really a bug, but like with string version it would look a lot better if you could set a label like "choose from list" or something instead of 0. I've temporarly "solved" it by letting T be string and then parsing to int on the form handler. But this is not a good way to do it. Also if I set T to int and I submit the form, the form is valid and value 0 is sent.

[2020-12-03 07:49] MattChique commented on #144
Sorry @Garderoben also quite bussy. But i finally figured out whats the problem:

https://try.mudblazor.com/snippet/QOvcYnaL47jyITsx04

MudSelect collapses, if the parent container has set display:flex.

[2020-12-03 08:15] henon commented on #194
@Garderoben the problem is that 0 might be a valid value in some context. We can not preemptively decide what value not to display in case of int. Using a nullable variant solves this problem for value types.

@danielsolistensvik why don't you use int? You get the behavior you want because string is nullable. Well then you can use nullable int and have the same behavior even with the form not bein

[2020-12-03 08:16] juhapehkonen-navium commented on #191
@henon Thank you, I'll give it a try later today.

[2020-12-03 08:21] henon opened #197 "Document the advantages of nullable variants of value types in Select and Textfield"
This is a recurring question, so we might as well document it better. See #194

[2020-12-03 08:22] henon commented on #191
It is not yet released, so you'll have to compile the develop branch

[2020-12-03 08:28] juhapehkonen-navium commented on #191
Thanks, that's not a problem. I already did that earlier to see if I could easily amend the InputType enum with additional members.

[2020-12-03 08:30] henon commented on #191
cool, you are welcome to PR such additions.

[2020-12-03 08:50] Garderoben commented on #194
@henon Yes 0 can be a valid value but that is not the problem here. if the user hasn't selected anything then it should not be displayed as it has.

i should not have to use a nullable int for the select/textfield to function as it was designed.

[2020-12-03 09:04] henon opened #198 "MudForm: Reset() not working any more"
**Describe the bug**
I discovered that the Reset() function is broken on MudForm.

**Expected behavior**
It resets only the validation, but not the input fields. All user input should be removed and values reset.

can be reproduced on the docs website.

I shall write more form tests.

[2020-12-03 09:10] henon commented on #194
@Garderoben, but how do you distinguish the two contrasting use-cases where the Select should show the value and the one where it shouldn't?
Both are valid use-cases, in both the user didn't change the value, but for an existing object with existing values of course those should be shown even if not yet touched by the user.

You can either use nullable types to solve that or you have to add a prop

[2020-12-03 10:12] Garderoben commented on #187
Copy i add it to my to doo

[2020-12-03 10:37] danielsolistensvik commented on #194
@henon The value of 0 can of course be a valid input, but this is not the "problem". The desired effect is that when the form and select is first rendered, the inital "value" should be nothing and the Helpertext should be visible i.e. "Select from list".
So if the user does not select anything the preferred effect should be that the form is not valid.

If in some cases you want the initial default

[2020-12-03 10:59] Garderoben commented on #194
I have never seen a Select that on initial display looks like or has a value selected that is not even in the list?
But here is a example with 0 in the list but that still should not make the select display 0 as picked.
![image](https://user-images.githubusercontent.com/10367109/101001039-ec255680-355e-11eb-9d7c-9e731bdf43c6.png)
https://try.mudblazor.com/snippet/QYvGkdbE594AvMhW04

Vuetify for on

[2020-12-03 13:04] henon commented on #194
That works in JavaScript only because in JavaScript every value can be `undefined`. It is the equivalent of using a nullable int.

[2020-12-03 13:17] henon commented on #194
We have four possible solutions:

# Use nullable types (a workaround that doesn't require code changes
# add a property `OnlyAllowListValues="true"` to MudSelect (this will not solve the same problem in TextField)
# add a property `DontShowInitialValue="true"` so it shows the label or blank instead of the value
# define the default value in the select/textfield like this `default="0"` so it knows

[2020-12-03 14:19] juhapehkonen-navium commented on #191
I have tested the form on the iPad now using the develop branch and it works well, so thanks for you quick help.

[2020-12-03 15:38] SteveDunlap13 opened #200 "MudTheme.cs Allow Overriding Typography"
Is there a reason why the Typography property is commented?  May this be opened up to allow us to override?

using System;
using System.Collections.Generic;
using System.Text;

namespace MudBlazor
{
    public class MudTheme
    {
        //public Breakpoints Breakpoints { get; set; }
        public Palette Palette { get; set; }
        public Shadow Shadows { get; set; }
        //public Typograp

[2020-12-03 15:53] JeepNL commented on #181
Maybe large file uploads (ie: > 1GB) could be implemented as well? Example (upload in 'chunks)': https://demos.devexpress.com/blazor/Upload#ChunkUpload

[2020-12-03 15:59] yasserss opened #201 "Table with pagination and filtering"
For the life of me, I can't figure out what Method is called after the search textbox loses focus,

in the exemple **Table with pagination and filtering**  founded in this page :

[https://www.mudblazor.com/components/table](url)

i have read the source code but i could not find anything , and the example works fine

[2020-12-03 16:57] jjohnson3922 opened #202 "Open Drawer from Main Content"
I am not sure if this feature already exists or not but I'd like to add a button to a component that would open a drawer. I am trying to use the drawer as a form to add or edit an object. I am not sure if you can add a drawer to the inside the main content.

I have the drawer on a sub component and hooked up to a button, when I click the button, the drawer doesn't open. I'm assuming the drawer can

[2020-12-03 18:34] #202 closed

[2020-12-03 20:57] jjohnson3922 opened #203 "MudMenu"
I have an AppBar with buttons on the left, an AppBarSpacer, and then a MudMenu. Everything appears fine until you click the MudMenu. The MudMenuItems extend past the viewport and cuts off part of the menu.

![image](https://user-images.githubusercontent.com/48070429/101087423-2fdc8800-3580-11eb-9e68-f378d791143f.png)

[2020-12-03 21:14] jjohnson3922 commented on #203
was able to fix this with CSS. Disregard.

Code

` <MudMenu Class="more-menu" Icon="@Icons.Material.MoreVert">
       <MudMenuItem>Profile</MudMenuItem>
        <MudMenuItem>Logout</MudMenuItem>
        <MudMenuItem>Terms of Service</MudMenuItem>
  </MudMenu>
`

CSS
`.more-menu .mud-popover.mud-popover-open{
        top:50px;
        right:40px;
}`

[2020-12-03 21:14] #203 closed

[2020-12-04 10:30] Garderoben commented on #200
Its under development

[2020-12-04 11:45] MaheshvaranP opened #205 "MudSelect behavior inside of MudExpansionPanel"
Thanks to all who work on this project.
Hoping my Issues raised will help to enhance and keep this great Library going...

**Describe the bug**
1. The MudSelect drop down (popover) takes on the full width of the expansion panel.
2. The MudSelect drop down (popover) is clipped when placed inside of a MudExpansionPanel which is nested in another MudExpansionPanel

**Expected behavior**
1. The MudSel

[2020-12-04 11:54] MaheshvaranP opened #206 ""MudSwitch" and "MudCheckBox" to handle nullable boolean"
**Is your feature request related to a problem? Please describe.**
I would like to use the nullable 'bool?' type with the "MudSwitch" and "MudCheckBox" components.
It currently cannot handle this type.

**Describe the solution you'd like**
I would like to use the nullable 'bool?' type with the "MudSwitch" and "MudCheckBox" components.
The components should be able to handle 3 states (null, true, f

[2020-12-04 22:30] mikes-gh opened #209 "Year Selection in date picker"
**Is your feature request related to a problem? Please describe.**
Selecting year is not very discoverable and takes up space in title.  It is also redundant info.

**Describe the solution you'd like**
Remove year from title and use year on calendar to select year.  Give a visual clue to let users know they can select the month or year. A hover highlight?

<img width="318" alt="Screenshot 2020-12-

[2020-12-04 22:34] mikes-gh commented on #209
BTW really like that this picker is almost pure razor.

[2020-12-04 22:39] Garderoben commented on #209
Its designed after all other Material Date Pickers and it has hover:
![image](https://user-images.githubusercontent.com/10367109/101222004-2a1e9980-3689-11eb-8ff5-b0bfcd6a4d21.png)

There is one option to use it without the top toolbar, i guess we should make it so when clicking "January 2019" it would open to something like this and that the year is clickable to go to year view?
![image](https://

[2020-12-04 23:15] mikes-gh commented on #209
I like your idea.  Means if title is not shown year is still easy to change

It does go slightly against the year selection process with touch which I think is swipe up and down (in pure google design).  Left and right for month.

Another idea would be year and month as separate clicks. The month click the same as now and the year click the same as the top year click.  leaving the top year as a ti

[2020-12-04 23:17] mikes-gh commented on #209
Actually thinking about it I still think your suggested design is the best 👍

[2020-12-05 05:07] Garderoben commented on #209
@mikes-gh yeah of course, google material design is merely guidelines. I tend to pick what's good about one thing and what's better in another thing and combine them. But i notice people sometimes expect the 100% Google Material so instead of forcing it to display without the year in the so called "toolbar" i think its better to make it optional to remove it.

Vuetify's work like this, what you th

[2020-12-05 12:40] mikes-gh commented on #209
Really like that. Seems very logical/discoverable.
BTW google material doesn't specify the year in the toolbar.  Its specifies title.  I still prefer title.  It could be clickable to allow for customization
https://material.io/components/date-pickers

[2020-12-05 15:29] henon commented on #206
Checkbox is nullable now. Note this will be a breaking change in the checkbox API.

![image](https://user-images.githubusercontent.com/44090/101247005-01dd7c00-3717-11eb-8ace-c130d515559d.png)

[2020-12-05 17:50] mikes-gh opened #211 "Support Filled and Outlined style field in DatePicker"
**Is your feature request related to a problem? Please describe.**
Currently DatePicker only supports standard labelling

**Describe the solution you'd like**
DatePicker to support `Variant="Variant.Filled"` and `Variant="Variant.Outlined"`

For example if you have outlined form fields the DatePicker will be an inconsistent style.

[2020-12-05 17:55] henon commented on #206
![image](https://user-images.githubusercontent.com/44090/101259804-6d314900-372b-11eb-8e02-731899a4e4dc.png)

[2020-12-05 18:21] mikes-gh commented on #209
Month picker would be a great side benefit of the above..

[2020-12-05 20:06] henon commented on #201
The example works fine because the text field is bound two-way to a variable search_string which is used by the filter function.

`<MudTextField @bind-Value="search_string" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>`

Here is the whole example code

[code]

Whenever the search_string updates the table

[2020-12-05 20:09] henon commented on #201
But if you wanted to do something on blur of the search textfield you could add a callback to OnBlur.

[2020-12-05 20:20] henon commented on #195
ok, closing this one

[2020-12-05 20:20] #195 closed

[2020-12-05 20:38] jinghua395 opened #212 "tabindex -1 not working on AutoComplete"
**Describe the bug**
I've tried to set tabindex by using "UserAttribute" on AutoComplete, however, it does not work for me.
<MudAutocomplete T="string" Label="Product" SearchFunc="@SearchProduct" @bind-Value="@_product" ResetValueOnEmptyText="true" UserAttributes="@_attr"></MudAutocomplete>

_attr = new Dictionary<string, object>{{"tabindex", "-1"}};

**Expected behavior**
It should jump over the

[2020-12-05 21:12] Garderoben commented on #209
@mikes-gh Do you wanna PR the changes?

[2020-12-05 21:18] mikes-gh commented on #209
I can try.  I haven't written any Blazor Components and not familiar with bUnit  yet  but I'm ok with the HTML.

[2020-12-05 21:27] mikes-gh opened #214 "Allow build and test with vscode"
**Is your feature request related to a problem? Please describe.**
It would be nice to go xplat on the development side.  It might also draw in more devs if for example they only have a mac at home.

**Describe the solution you'd like**
Put in place the build test tasks etc to develop in vscode.

**Describe alternatives you've considered**
I could use vs2019 but I have been using vscode for a few

[2020-12-05 21:38] henon commented on #214
you are welcome to PR. can't hurt to support both vs and vscode

[2020-12-05 21:54] #44 closed

[2020-12-05 23:17] Garderoben commented on #214
@mikes-gh Do you have Gitter or something like that where i could give you a chat? i'm looking over the whole build/test/release with DevOps if you have some experience with this i be glad if we could have chat!

[2020-12-06 01:31] mikes-gh commented on #214
I have build and test working.
Struggling to see how the test viewer can have a netstandard2.1 target.  Never seen an app have a netstandard target??

[2020-12-06 02:39] Garderoben commented on #214
@mikes-gh they get that when its .net 3.1 Client Side.

[2020-12-06 03:41] porkopek opened #216 "Icon in FAB button needs some right margin"
**Describe the bug**
At this moment, the svg icon in FAB button does not have any right margin, so it's too close of the text

**Expected behavior**
Some margin between text and svg icon

**TryMudBlazor**
https://try.mudblazor.com/snippet/wkFQYqan39btM1Q911

**Solution**
Could be
[code]

[2020-12-06 04:38] Garderoben commented on #189
Got it working finally so that we will not have the problem with files getting over merged. master ,develop and net5 will run the pipeline. where master/dev run it in 3.1.x and net5 5.0.100

I hope this was it, can you confirm?

[2020-12-06 04:44] Garderoben opened #217 "MudTextField get "jumpy" when mixed with none helpertext variants PR #199"
**Describe the bug**
MudTextField get "jumpy" when mixed with none helpertext variants PR #199

**Expected behavior**
Should not "jump"

This can easily be seen at https://mudblazor.com/components/form under "Simple form validation". Click on username and click elsewhere so error messages get displayed, now you will see the input "jumps" to get the space needed for the error message.

I will fix i

[2020-12-06 04:46] Garderoben commented on #216
I fix it after i sleep a bit!

[2020-12-06 13:17] henon commented on #191
just one side note: when you have a button (i.e. a "Save" button) inside the form that should change its state in real-time according to the form's IsValid state then you'll notice that due to the rendering-suppression the button will not receive a render update. but when you place such a button outside of the form it will.

The simple form validation example on our website is such an example. Had

[2020-12-06 13:22] Garderoben commented on #216
8px spot on, i went for 4px on the small one think it looks better than 8 in that size. Commit https://github.com/Garderoben/MudBlazor/commit/cfebe3bf15544a04877f7a869932393186761774

![image](https://user-images.githubusercontent.com/10367109/101281234-382a0280-37ce-11eb-9e72-6ea910576918.png)

[2020-12-06 14:40] #56 closed

[2020-12-06 14:56] #130 closed

[2020-12-06 14:59] henon commented on #129
fixed

[2020-12-06 14:59] #129 closed

[2020-12-06 16:34] MaheshvaranP commented on #206
This is a brilliant enhancement to this kind of control, much appreciated, will try it soon as its released...

Great thanks to @henon.

[2020-12-06 16:50] mikes-gh commented on #214
Ah ok got it .

When creating the task to run `MudBlazor.Docs.Compiler` I noticed a lot of churn due to line endings on the generated code which is already checked in.

The easiest way is to gitignore the autogen files and remove the existing files from the repo so compiling the docs doesnt keep generating commits.

What do you think?

[2020-12-06 16:58] henon commented on #214
Something is not right here. We have addressed this with a `.gitattributes` file which should result in automatically converting line endings on commit and checkout so you won't get any changed files in git due to different line endings.

![image](https://user-images.githubusercontent.com/44090/101286724-77674c00-37ec-11eb-97d1-afef8a82d5bd.png)

why does your git ignore the setting?

[2020-12-06 17:02] henon commented on #214
Or is the issue that you are on Linux or Mac and the Docs.Compiler forces \r\n instead of system line endings?

[2020-12-06 17:56] henon commented on #194
I went with solution 2. Select has a new parameter called Strict. If true it will suppress showing any values that are not on the list and shows the label instead.

[2020-12-06 18:04] henon commented on #148
This has already been released. We won't change MudHidden which will be JS triggered only. With Garderobens new display classes you don't need MudHidden at all if you want to resort to CSS only.

As a side note: the resize listener lag can be configured like so:
[code]
This was 300 ms, I reduced the default value to 100. Guess this is ok since it will only fire on browser window resize.

[2020-12-06 18:04] #148 closed

[2020-12-06 18:29] mikes-gh commented on #214
On checkout depending on your git setup it will usually go to OS line endings.
It's because mac checks out as LF. And you are using \r\n.  We could use `Environment.NewLine`

If the files are autogen then it might be better to `git rm` them and just generate them when you need them?

[2020-12-06 18:50] mikes-gh commented on #214
git clone reveals

104 files with CRLF
and
392 files with LF

So 104 probably before text=auto

[2020-12-06 19:09] henon commented on #214
In Visual Studio we don't have the docs compiler as a build step because of problems with the CI server and frankly it is not needed for usual builds. When the examples are changed the docs compiler is executed once manually.

It should be possible to solve this problem with proper git settings, or by committing the CRLF files again, but this time as LF.

I am changing the compiler to use `Environ

[2020-12-06 19:14] henon commented on #214
Try it out: 1f51d534

[2020-12-07 01:08] mikes-gh opened #220 "XML documentation generated in root of MudBlazor.csproj"
**Describe the bug**
XML documentation output to root of project

**Expected behavior**
xml docs go to output of build only

**Fix is here**
https://github.com/dotnet/standard/issues/614

Reference
https://github.com/Garderoben/MudBlazor/blob/43ccfcc15f88597644ea278f90b70557df9844e9/src/MudBlazor/MudBlazor.csproj#L22-L24

[2020-12-07 01:17] mikes-gh commented on #220
Will PR this after #219 to avoid merge conflicts

[2020-12-07 08:32] #216 closed

[2020-12-07 09:32] #220 closed

[2020-12-07 10:41] #214 closed

[2020-12-07 10:46] mikes-gh opened #226 "Make develop the default branch?"
**Describe the bug**
I keep PR against master

**Expected behavior**
PR default to develop

[2020-12-07 10:52] mikes-gh opened #227 "Doc compiler gives different order depending on OS"
**Describe the bug**
Compiling docs on macOS gives different order to Win10

**Expected behaviour**
Compiling Docs on different OSes should not give changes only due to order of processing.

This is due to

https://github.com/Garderoben/MudBlazor/blob/5fce4ccdb40c078f783ef2b591cd62eba752031f/src/MudBlazor.Docs.Compiler/Program.cs#L51

Enumerate files gives different order depending on OS.

Maybe f

[2020-12-07 10:56] henon commented on #227
yeah, add an ordering.

[2020-12-07 12:27] shareonline commented on #175
Awaiting patiently for this feature, looking forward to it 👍

[2020-12-07 20:11] Garderoben commented on #226
Dont it go to the one you forked?

[2020-12-07 20:22] mikes-gh commented on #226
No its goes on the destination repo.
I changed my default on fork and it still defaults to master

[2020-12-07 21:22] henon commented on #226
It is a good idea. How do we change it?

[2020-12-07 21:28] mikes-gh commented on #227
Fixed in https://github.com/Garderoben/MudBlazor/pull/231

[2020-12-07 21:28] #227 closed

[2020-12-07 22:04] Garderoben commented on #226
Here but i dont know about the consequences
![image](https://user-images.githubusercontent.com/10367109/101410994-7ca5c300-38e0-11eb-9f65-797ed2ea2247.png)

[2020-12-07 22:05] henon commented on #226
The consequences are exactly what we want ;)

[2020-12-07 22:31] mikes-gh commented on #226
thanks

[2020-12-07 22:32] mikes-gh commented on #226
opps not changeds yet

[2020-12-07 22:40] mikes-gh opened #233 "Include a CHANGELOG.md"

[2020-12-08 00:26] porkopek commented on #233
And include it in documentation page too

[2020-12-08 05:23] chatcoda opened #234 "Nullable numeric types validation"
**Describe the bug**
MudTextField validation fails when cleared if the value type is a nullable numeric.

**Cause**
e.g. for nullable decimal, https://github.com/Garderoben/MudBlazor/blob/master/src/MudBlazor/Utilities/BindingConverters/DefaultConverter.cs#L121-L126 will always return "Not a valid number (decimal)" when value == null, because decimal.TryParse(string s, ...) fails if the s paramete

[2020-12-08 08:03] danglingneuron opened #236 "Guidance for "substring text selection" in MudText or MudField"
This is probably not relevant to MudBlazor but I thought I would ask here anyway. I need a text selection and tagging feature or guidance.

Here is a silly example that gets the idea across:
I have a MudText with some text e.g. "The quick brown fox jumped over the lazy dog"
I want to be able to select a portion of the text using "left click and drag" and on mouse-up I want to show a floating menu

[2020-12-08 09:37] #189 closed

[2020-12-08 09:54] henon commented on #234
Thanks for the bug report. I'll look into it.

[2020-12-08 09:58] Garderoben commented on #226
@mikes-gh @henon
![image](https://user-images.githubusercontent.com/10367109/101468886-48fc8480-3944-11eb-9e2a-f0637c998dab.png)

[2020-12-08 10:00] #226 closed

[2020-12-08 10:06] henon commented on #236
Check out the new MudHilighter, it is not a 100% solution to your problem, but it shows how to style a a part of a text.

[2020-12-08 10:06] Garderoben commented on #166
Added in v1.2.0 and its released now.
![drawer2](https://user-images.githubusercontent.com/10367109/101469674-56663e80-3945-11eb-945d-cda6397d2085.gif)

[2020-12-08 10:06] #166 closed

[2020-12-08 12:05] JeepNL opened #240 "MudSwitch error when updating from 1.1.5-net5 -> 1.2.0-net5"
The line of code below worked in 1.1.5-net, but doesn't in 1.2.0-net5. Note: Perhaps I'm using MudSwitch wrong, I don't know.

**In MainLayout.razor (_in MudAppBar_):**
`<MudSwitch Color="Color.Inherit" CheckedChanged="(() => currentTheme = (currentTheme == defaultTheme) ? darkTheme : defaultTheme)" Class="ma-0" />`

**Error:**
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS

[2020-12-08 12:06] henon commented on #240
yes, that is because we made MudSwitch  and MudCheckBox generic types. Please add T="bool" to your MudSwitch

[2020-12-08 12:09] henon commented on #240
the upside of this change is that a MudSwitch now can be bound to `bool`, `bool?`, `int`, `int?` and `string`. Had you bound it to a boolean variable it would have been inferred without a compilation error. We knew about this potential breaking change, that's why we bumped the minor version.

[2020-12-08 12:11] #206 closed

[2020-12-08 12:11] #198 closed

[2020-12-08 12:11] #194 closed

[2020-12-08 12:12] #191 closed

[2020-12-08 12:12] #60 closed

[2020-12-08 12:13] henon commented on #175
this is released.

[2020-12-08 12:13] #175 closed

[2020-12-08 12:15] henon commented on #164
someone just had the same problem in the chat and it was solved with `@key`. should the issue persist you can reopen.

[2020-12-08 12:15] #164 closed

[2020-12-08 12:17] henon commented on #201
Is this solved? You can reopen if not.

[2020-12-08 12:17] #201 closed

[2020-12-08 12:18] henon commented on #178
Responsive Drawer released today.

[2020-12-08 12:18] #178 closed

[2020-12-08 12:23] JeepNL commented on #240
Yes! It works! Thank you for your reply!

[2020-12-08 12:23] #240 closed

[2020-12-08 12:35] JeepNL opened #241 "[Question] On a small screen the Drawer Menu doesn't close when selecting a menu option in 1.2.0-net5?"
I'm starting with MudBlazor, I'm using the WASM [MudBlazor.Template](https://github.com/Garderoben/MudBlazor.Templates/tree/master/MudBlazor.Template.Blazor/MudBlazor.Blazor.Wasm), and after I upgraded to 1.2.0-net5 (_from 1.1.5-net5_) the Drawer Menu doesn't close anymore after selecting a menu option, it stays open. I've read that the Drawer is now responsive, maybe I need to add some extra code

[2020-12-08 12:43] Garderoben commented on #241
Is it dual binded like this?
`@bind-Open="@open"`
And have you done a CTRL + F5?

[2020-12-08 13:02] JeepNL commented on #241
Below is the code I'm using (based on the from the WASM MudBlazor.Template

![Ashampoo_Snap_dinsdag 8 december 2020_13h53m01s_001_](https://user-images.githubusercontent.com/39458532/101487046-de584280-395d-11eb-8c0f-875cd7189f40.gif)

[code]

[2020-12-08 13:08] #144 closed

[2020-12-08 13:19] JeepNL commented on #241
And this is the `NavMenu.razor` (from [MudBlazor.Templates](https://github.com/Garderoben/MudBlazor.Templates/blob/master/MudBlazor.Template.Blazor/MudBlazor.Blazor.Wasm/Shared/NavMenu.razor)>

So I'm not using dual binding ...

[code]

[2020-12-08 14:19] JeepNL commented on #241
I'm sorry, you've answered my question already. I need to use `@bind-Open="@open"` at `<MudDrawer @bind-Open="@open" Elevation="1">` and then it works. (As is alreadu documented [here](https://mudblazor.com/components/drawer)).

But it has not (yet) been changed in the MudBlazor.Template repo. So, if you want to close this issue, please do, or maybe you want to update the template first and then c

[2020-12-08 14:22] Garderoben commented on #241
I will update the template, and close it when done. Thanks!

[2020-12-08 14:28] Garderoben commented on #241
Done: https://github.com/Garderoben/MudBlazor.Templates/commit/4420e0d660afcdb95b812cc4e4e95beccb720a1b

[2020-12-08 14:28] #241 closed

[2020-12-08 15:07] JeepNL opened #243 "Small UI enhancement: add Dense="true" to <MudDrawerHeader>?"
I'm using `<MudAppBar Elevation="1" Dense="true">`

Now there's a small offset between de AppBar and the DrawerHeader

Maybe add `Dense="true"` to `<MudDrawerHeader>` is an option for a next release?
(_Personally I don't want the Menu items dense_)

(Or inherit "Dense" from MudAppBar?)

![Screenshot 2020-12-08 154323](https://user-images.githubusercontent.com/39458532/101498751-c20fd200-396c-11eb-

[2020-12-08 17:17] mikes-gh opened #244 "Multi-target library"
An issue to discuss running develop branch that targets `netstandard2.1` and `net5.0`
The docs website and tests could also be on net5.0 only?
What do you think

This csproj builds with sdk 5.0.100.  Remember SDKs are usually backward compatible so this will be fine on pipelines

[code]

[2020-12-08 17:32] mikes-gh commented on #244
That builds both

[2020-12-08 17:36] mikes-gh commented on #244
Would require developers of MudBlazor (not end users) to be on net5.0 but sdk is 5.0.100 in latest versions of visual studio anyway

[2020-12-08 18:05] henon commented on #244
alright, so we could make build configurations Debug3_1 and Debug5_0 to switch back and forth in visual studio / vscode

[2020-12-08 18:08] mikes-gh commented on #244
I dont think you need build configs.  That csproj builds them both

[2020-12-08 18:09] mikes-gh commented on #244
debug configs maybe

[2020-12-08 18:10] henon commented on #244
yeah, will be necessary so you can run as 3.1 or 5.0 seperately, also the tests

[2020-12-08 18:15] henon commented on #234
Fixed.

[2020-12-08 18:57] sps014 opened #245 "Line Char Dark Mode Text Color is Black"
Current Mud Blazor Website on Dark mode renders Line Chart Text Color in Black.

Also provide more customization of the text in terms of Text Color and Text Size etc in Charts.

#### Reproduce:
goto https://mudblazor.com/components/linechart and switch to dark theme

![Capture](https://user-images.githubusercontent.com/45932883/101528273-19d22b80-39b5-11eb-98b4-8c6001ec661c.PNG)

[2020-12-08 21:37] chatcoda commented on #234
Working fine, many thanks for the quick fix.

[2020-12-08 21:37] #234 closed

[2020-12-08 21:46] zsveraszto opened #248 "MudDrawer can not be closed"
**Describe the bug**
At certain resolutions, the drawer is opened and covering toggle button on appbar, can not be closed at all (just by changing browser window size)
This problem also visible at mudblazor.com website, wireframe example 1.

**Expected behavior**
draw should be toggable at lower resolutions also

please see here:
https://try.mudblazor.com/snippet/QubGYMQl43iHY1xU15

**Screenshots*

[2020-12-09 06:39] MaheshvaranP opened #251 "Blazor disconnect overlay placement"
**Describe the bug**
The typical Blazor server disconnect overlay is hidden underneath the main layout components like the sidebar and appbar.

**Expected behavior**
The disconnect overlay should be on top of all components indicating that the page needs to be refreshed and allowing the user to click on the reload link.

**TryMudBlazor**
Could not create something in the sandbox, although a quick

[2020-12-09 06:49] MaheshvaranP opened #252 "MudTabs menu horizontal slider"
**Is your feature request related to a problem? Please describe.**
It appears that an excess of tabs placed in the MudTabs components places the tabs on the right in an off screen position.
This creates an issue when tabs are larger than available width.

**Describe the solution you'd like**
The MudTabs component should allow horizontal scrolling through the tabs when they cannot be displayed in t

[2020-12-09 07:20] Garderoben commented on #252
Dupe:
https://github.com/Garderoben/MudBlazor/issues/187
https://github.com/Garderoben/MudBlazor/issues/85

[2020-12-09 07:26] Garderoben commented on #248
Add dual binding to the drawer: `MudDrawer @bind-Open="@open"`

[2020-12-09 08:25] henon commented on #248
@Garderoben this issue comes up too often. I think we should not make the auto-close not depending on the dual binding because it will come up as issue a 100 times more probably. Instead why not add a AutoClose="true" to Drawer which determines whether or not to close it on navigation. Also, I think we should add a Modal="false" so that if it is in overlay mode a click outside will always close it

[2020-12-09 08:53] henon opened #253 "LineChart dark mode labels bug"
**Describe the bug**
The labels should not be black

![image](https://user-images.githubusercontent.com/44090/101606989-56794380-3a04-11eb-9561-27c0aa8d3908.png)

[2020-12-09 11:17] HClausing commented on #245
#253

[2020-12-09 11:17] HClausing commented on #253
#245

[2020-12-09 13:11] lindespang commented on #248
@henon Then Drawer needs to own the Opened-state and not the parent-component as it does now. Otherwise the parameter supplied by the parent will override the drawers auto-close on parent renders.

When I mean own I essentially mean keeping the state in a private variable that is only supplied from the parent at initialization. This does however mean that the normal "Toggle" procedure with parent

[2020-12-09 14:32] kevinreginold opened #254 "Enhancements for MudDrawer"
**Is your feature request related to a problem? Please describe.**
The MudDrawer can use some animations on smaller breakpoints to enhance the user experience.

**Describe the solution you'd like**
Following Material Design, a result close to the following link could be the perfect implementation.
https://material-components.github.io/material-components-web-catalog/#/component/drawer/modal

The k

[2020-12-09 16:11] AFAde opened #255 "MudDrawer overlaps the top application bar"
**Describe the bug**
Starting with the version 1.20 (.NET 5), the drawer overlaps the top application bar. This is the definition of the Main Layout
[code]
And this is how the drawer is rendered

![image](https://user-images.githubusercontent.com/9824814/101654668-108ea080-3a41-11eb-9618-bf76b578d048.png)

**Expected behavior**
As for the 1.1.5 version, the drawer does not overlap the top app bar

[2020-12-09 16:43] henon commented on #248
Yeah, I wasn't actually advocating for removing the two-way binding. I was advocating for adding the opt-in parameter "AutoClose" which would cause closing even if you don't two-way bind and will make it intuitively clear to users how to achieve that behavior. Does that make sense?

[2020-12-09 17:04] lindespang commented on #248
@henon Yeah sure, my point is you can’t do that without making breaking changes to the current API (due to what I wrote above)

Just a heads up for the one implementing this.

[2020-12-09 17:35] henon commented on #248
![image](https://user-images.githubusercontent.com/44090/101665529-5ea9a100-3a4d-11eb-86d2-49a7cc97d96b.png)

[2020-12-09 20:01] roymclellan opened #256 "Icon menu falls off screen when placed in the right-most position of AppBar."
**Describe the bug**
When using a MudMenu with Icon inside a MudAppBar, the menu falls off the right side of the window when opened.

**Expected behavior**
The menu would either be aware of its location, or the user would have to option do designate a side on which the menu should open.

https://try.mudblazor.com/snippet/GuFmYtlj51JoJZ2D08

![MudBlazor_AppBar_Menu_Offset](https://user-images.githu

[2020-12-09 21:59] henon opened #257 "Dialog not closing under net5"
Reported by Mike

**Describe the bug**
- Clicking outside of a dialog doesnt close it in net5
- 3.1 works.

That would be a great test case

[2020-12-10 09:05] Xericore opened #258 "Support selection with keyboard in Select component"
Hi,
it would be nice if it was possible to select an item in the Select component with the keyboard as well. This is especially useful when displaying many items in the component.

What would be useful to see is essentially the same as the [MatBlazor component MatSelect](https://www.matblazor.com/Select) does.

**The use case looks like this:**

1. Select component contains three entries: Alpha, B

[2020-12-10 09:11] henon commented on #258
Hi, in MudAutocomplete we have exactly that.

[2020-12-10 09:21] Garderoben commented on #248
@zsveraszto did you try with the dual binding, did it fix your issue?

@henon well as expected when something changes that's been working before, i missed to update some examples like the wireframes and the templates. Templates are updated and i fixed the wireframes just need to update.

[2020-12-10 09:27] Garderoben commented on #255
Correct big miss from my side. You can fix it for now by changing the zindex with theme or css/style.

Theme:
[code]

[2020-12-10 09:28] Garderoben commented on #253
Duplicate of: https://github.com/Garderoben/MudBlazor/issues/245

[2020-12-10 09:28] #253 closed

[2020-12-10 09:29] #252 closed

[2020-12-10 09:38] Garderoben commented on #256
I can add Offset X,Y kinda like Select has will try it out.

[2020-12-10 09:41] Garderoben commented on #257
Works fine for me in net5.

CTRL + F5 if client, and dual bind it like in the docs example.

[2020-12-10 09:41] #257 closed

[2020-12-10 10:22] Xericore commented on #258
Thank you. I didn't see that.

[2020-12-10 10:22] #258 closed

[2020-12-10 10:24] AFAde opened #259 "Table paging not working properly (version 1.2.0, .NET 5)"
**Describe the bug**
After the first rendering of a table, the total number of rows is set to 0.
![image](https://user-images.githubusercontent.com/9824814/101759435-e3420100-3ad9-11eb-8eab-6993785c03eb.png)

The total number of rows gets correctly set only after clicking on any of the table page navigation arrows

![image](https://user-images.githubusercontent.com/9824814/101759594-15ebf980-3ada-

[2020-12-10 11:08] AFAde opened #260 "Table scroll bar does not display (version 1.2.0 .NET 5)"
**Describe the bug**
The table scrollbar does not display. As you can see, there are in total 10 rows (6 of which are being displayed)  but the scrollbar is not visible.
![image](https://user-images.githubusercontent.com/9824814/101764300-328b3000-3ae0-11eb-8223-b7ef2299e932.png)

**Expected behavior**
The scrollbar displays (as it used to do in the version 1.1.5)
![image](https://user-images.gith

[2020-12-10 11:28] zsveraszto commented on #248
@Garderoben yes, the dual binding is fixed my problem, thank you.

[2020-12-10 13:38] Niputi opened #261 "expansionpanel customization options"
**Is your feature request related to a problem? Please describe.**
I can't customize the header text as the header comes in via the text prop instead of an component.
theres no option for hiding the toggle icon.

**Describe the solution you'd like**
I would like to see more customizations like react material ui have by having props for more fine grained options
and components for header and body c

[2020-12-10 13:59] henon commented on #261
We just discussed this on gitter the other day, we could
- [ ] add a RenderFragment parameter so you can define your own header (overrides the header text if defined)
- [ ] make the toogle icon customizable

if you want you may try and PR these changes.

[2020-12-10 14:00] Niputi opened #262 "drawer clipped not working as expected"
**Describe the bug**
I'm not sure if this is a bug or is intentional.
drawer is not working as I would expect
The app drawer is in front of app bar
Version in screenshot is 1.2.0-net5
![image](https://user-images.githubusercontent.com/7137178/101781394-0da2b700-3af8-11eb-958e-a99bec032b83.png)

**Expected behavior**
app drawer not getting in front of app bar
I can't get https://try.mudblazor.com w

[2020-12-10 14:02] Niputi commented on #262
If I add this css, the drawer is no longer in front of the app bar
[code]

[2020-12-10 14:19] Niputi commented on #261
okay I have joined gitter now.
since git usage is blocked at work, I'll try looking into when I can find some time outside work.

[2020-12-10 14:59] mikes-gh opened #263 "MudLayout - parent div height"
**Describe the bug**
MudLayout likes height 100%
Currently this is worked around for Blazor apps by adding app to

current css
[code]

It has been suggested that relying on markup for styling is not correct even if it does prevent some headscratching.
Since Blazor in net5 has started suggesting to use <div id"app"> as top level div we now face a new desision do we keep adding selectors to the css

[2020-12-10 15:52] Garderoben commented on #262
Duplicate of: https://github.com/Garderoben/MudBlazor/issues/255 i posted a workaround if you dont want to do custom CSS.
Please search before you post new issues thanks.

[2020-12-10 15:52] #262 closed

[2020-12-10 15:55] Niputi commented on #262
Sorry I missed it when looking

[2020-12-10 17:35] #244 closed

[2020-12-10 17:37] mikes-gh commented on #263
Addtional info.

<app> tag is no longer in html5 spec
<app> is not a styled element AFAIK

[2020-12-10 19:16] mikes-gh commented on #263
@Garderoben We discussed this on Gitter and reproduced it.
We think

[code]
should do it

we removed the app selector as we dont think its doing anything

WHat do you think

[2020-12-10 21:16] henon commented on #233
Added.

[2020-12-10 22:28] Garderoben commented on #255
Fixed, will probably come out this weekend.

[2020-12-10 22:31] Garderoben commented on #254
MudBlazor is and will never be a Material Design clone to 100%, that said i will fix the animations. They were working before but i had to do some big changes last minute that broke the animations, but i figured people would want it anyway instead of waiting 1-2 weeks for animations being fixed.

Animations is not top prio atm but i'm fully aware.

[2020-12-10 22:49] Garderoben commented on #248
Awesome! Will update the website this weekend, i just wanna fix the copy code buttons first.

[2020-12-10 22:49] #248 closed

[2020-12-10 22:51] Garderoben commented on #243
Its added in latest dev branch, will come in the new nuget, hopefully this weekend.

[2020-12-10 22:52] #182 closed

[2020-12-10 22:59] Garderoben commented on #211
@mikes-gh seems to work fine for me, did you read the API page? `InputVariant="Variant.Filled"`

DatePicker:
![image](https://user-images.githubusercontent.com/10367109/101840010-a874b300-3b43-11eb-9a5f-8cfdbcaf7149.png)

TimePicker:
![image](https://user-images.githubusercontent.com/10367109/101840041-b3c7de80-3b43-11eb-83a4-ed2fdc607941.png)

[2020-12-10 23:00] Garderoben commented on #211
Already supported, nothing missing/not working.

[2020-12-10 23:00] #211 closed

[2020-12-11 00:20] Garderoben commented on #55
2 months later... Will be in next release, hopefully this weekend
![DialogPickerZ](https://user-images.githubusercontent.com/10367109/101845421-e9be9000-3b4e-11eb-99fa-21834232f160.gif)

[2020-12-11 00:20] #55 closed

[2020-12-11 01:29] mikes-gh opened #267 "Datepicker pops below viewport"
**Describe the bug**
If input is near bottom of screen Calender will pop below the viewport meaning you have scroll down to select a date.

**Expected behavior**
Calender stay in viewport.

**TryMudBlazor**
https://try.mudblazor.com/snippet/GabcllYP27jd7RUN16

Add more paragraphs if you need

[2020-12-11 02:07] mikes-gh commented on #211
Ah sorry was using variant not inputvariant

[2020-12-11 08:38] nunomaia commented on #156
Is anyone working on this ? I have a requirement for a table with server side pagination.
I could try to handle this issue if if still open.

[2020-12-11 10:50] cmorgado commented on #156
I was trying to do it but too much work right now to be able to contribute

[2020-12-11 10:55] henon commented on #156
ok @nunomaia, if you have any questions you can ask me.

[2020-12-11 11:03] JeepNL commented on #243
Great! Thanks!

[2020-12-11 11:03] #243 closed

[2020-12-11 11:17] JeepNL opened #268 "[FYI] GitHub "Discussions" now in public beta"
From GitHub on [Twitter](https://twitter.com/github/status/1336358966834712578):

"Available now, every open source community can try GitHub Discussions in the new public beta. Turn it on in your repo settings and you're ready to go! "

Perhaps something to add to MudBlazor on GitHub?

More info on how to enable/disable GitHub Discussions: [here](https://docs.github.com/en/free-pro-team@latest/git

[2020-12-11 13:18] mikes-gh commented on #233
I saw @Garderoben has all the info in github releases.
So change-log may not be necessary although its more discoverable.
In fact it can become stale.
Maybe changelog can be created from release?
the api is
https://api.github.com/repos/Garderoben/MudBlazor/releases/latest
The interesting stuff is in the body field
I am sure there are some scripts that can do this automatically

[2020-12-11 13:28] henon commented on #233
Actually the idea was to add all the changes here while development so they can be just copied into the release. But I see that it doesn't work well.

[2020-12-11 13:48] #233 closed

[2020-12-11 16:09] holtalanm opened #274 "MudDrawer does not respect Open attribute when rendering on mobile"
**Describe the bug**
On desktop this seems to be working fine.  On mobile, the drawer open/close state seems to be flipped, which is causing some odd behavior when paired with a close/open icon on the AppBar button for the drawer.

To clarify, when rendering on mobile, the initial value of Open for the drawer seems to be ignored?

See:

[code]

With the above code, I would expect the drawer to ini

[2020-12-11 16:45] mikes-gh commented on #157
Just wanted to add my opinion below

Adding `ripple.js` for this would be a significant decision for the project.
It specifically states no third party components will be used and no `.js` unless absolutely necessary.
I think the current css ripple is good enough and might still be improved yet.
In fact before  I saw this issue  I hadn't even noticed the ripple to be a problem.
So on balance I don

[2020-12-11 17:42] luifer opened #275 "How to set click events on a table row"
Hi,

Is it currently possible to have a Click event on MudTable/RowTemplate? I have set hover=true so the whole row is highlighted as expected but can't see how to set a click event. The workaround I am using at the moment is to add a MudLink to a cell but that means the user needs to move the mouse over the link rather just selecting the row and clicking anywhere inside.

If this is not currently

[2020-12-11 19:35] Garderoben commented on #274
Yeah its flipped, and has a initial state not to show, i will add this as a parameter to turn off if you want it to open on mobiles on first load.

[2020-12-12 14:05] henon commented on #275
there is SelectedItemChanged which is fired when the row is clicked

[2020-12-12 16:42] pshtiwan-hassan opened #285 "MudTabPanel missing set active"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**TryMudBlazor**
If you provide a [try.mudblazor.com](https://try.mudblazor.com) snippet link demonstrating the bug your issue gets priority attention.

**Screenshots**
If applicable, add screenshots to help explain your problem but please

[2020-12-12 18:38] Garderoben commented on #251
Fixed in devbranch, will be in next release.

![image](https://user-images.githubusercontent.com/10367109/101992163-75503200-3cb1-11eb-879a-5ef43be89584.png)

[2020-12-12 20:18] porkopek opened #286 "CSS: .mud-fab-root not defined"
**Describe the bug**
`.mud-fab-root` class is applied to MudFabButton, but the rule is empty. Currently, I guess the style of MudFabButton is relying in the default style of `<button>` tag, this is why when it is hovered it's showing `cursor: pointer`, but it shouldn't depend on markup to style it.

`.mud-fab` class, which is not empty as .mud-fab-root, does not set display:inline-flex or cursor:p

[2020-12-12 22:42] lindespang commented on #285
@pshtiwan-hassan Not sure if its a misstake or not but your template is not filled in.

But I think what you’re after is some way to set active tab from code. I think the cleanest way is to expose a Tab-index from the parent component which can be bound to, so you dont have to capture refs to your tabs and activate them explicitly.

@henon @Garderoben thoughts?

[2020-12-13 09:24] pshtiwan-hassan opened #287 "Mudtabs not responsive in mobilethe componet of mudBlazor very cool, but some of feature still need to be fix"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**TryMudBlazor**
If you provide a [try.mudblazor.com](https://try.mudblazor.com) snippet link demonstrating the bug your issue gets priority attention.

**Screenshots**
If applicable, add screenshots to help explain your problem but please

[2020-12-13 09:26] pshtiwan-hassan opened #288 "Mudtabs not responsive in mobile,"
the component of mudBlazor very cool, but some of feature still need to be fix.

![image](https://user-images.githubusercontent.com/67946816/102007961-5946a200-3d3e-11eb-9ccf-d60b65423d14.png)

[2020-12-13 12:02] henon opened #289 "Link to the Templates repo in the top of the Installation page"
I think it would be a good idea to link to the templates repo in the top of the installation page so people can skip the setup process and directly start from a template instead.

[2020-12-13 12:25] JeepNL commented on #268
Questions, Tips, Breaking Changes could be placed in GitHub discussions. Post like these could be placed in discussions. Removing the clutter from "Issues".

[2020-12-13 13:43] mikes-gh opened #292 "First click on drawer after refresh doesn't work on small viewport"
**Describe the bug**
It Is only for smaller viewports where the drawer is initially closed.
First click on Drawer after refresh doesn't work after initial refresh/load.
Clicking a second time opens the drawer.
It happen on HEAD of develop and on current website so its been around a while.

**Expected behavior**
Drawer opens on first click on smaller view ports.

**Screenshots**
![Kapture 2020-12-1

[2020-12-13 19:45] Garderoben commented on #292
Already working on it hehe started last night :)

[2020-12-13 19:46] Garderoben commented on #289
Yeah agree, i will add it, will help allot.

[2020-12-13 20:23] #287 closed

[2020-12-13 23:41] #263 closed

[2020-12-14 10:00] Christian-Oleson opened #293 "GitHub link from https://mudblazor.com does not reroute to GitHub in mobile"
**Describe the bug**
A click on the GitHub icon from the https://mudblazor.com website does not do anything on iOS.

**Expected behavior**
The user should be rerouted to GitHub.

**TryMudBlazor**
https://mudblazor.

[2020-12-14 10:13] porkopek commented on #293
I think this issue is maybe related to the way in which button navigates to the link. Maybe Safari does not allow JS navigation? I read some warning that Chrome is going to deprecate it too. Anyway, buttons with a Link property should render anchor elements for SEO purposes.

Conditional rendering is an option
if (Link) is set, render <a> if not render <button>

In a future, we can leverage MudEle

[2020-12-14 12:00] henon commented on #156
@cmorgado it's implemented now

[2020-12-14 12:08] henon commented on #259
I tried this with our docs website on net5 and can not reproduce it. Please provide a try.mudblazor.com to demonstrate that the problem is not on your side.

[2020-12-14 12:12] henon commented on #259
Maybe it is caused by setting the Items later than initial render? Anyway, your repro will show it.

[2020-12-14 13:26] AFAde commented on #259
Hello, here the code snippet

https://try.mudblazor.com/snippet/cEvmlobH25ZNLMvG25

FYI, with or without event handler on property changed makes no difference.

Thanks

[2020-12-14 15:43] Garderoben commented on #289
Added: with https://github.com/Garderoben/MudBlazor/commit/622818aaf7a5e98637999cb80ec881f6b37d147c

[2020-12-14 15:50] henon commented on #259
I fixed the issue and made it into a testcase

[2020-12-14 16:38] nunomaia opened #295 "Loading State in Table"
**Is your feature request related to a problem? Please describe.**
Add a prop in table to indicate that data is loading from server side

Trigger a loading state like for example in vuetifyjs

![Capture](https://user-images.githubusercontent.com/771138/102108288-a3a54d00-3e2a-11eb-8ff1-b7333aa0fa4b.PNG)

[2020-12-14 18:21] henon commented on #295
yo, that would be great. you gonna PR again?

[2020-12-14 21:57] haefele opened #296 "Disable selecting a Chip in the MudChipSet"
**Is your feature request related to a problem? Please describe.**
I'm trying to create a "tags" list, where the user can enter tags as he likes, and remove them as well.
The ChipSet seems like the perfect component for that, but it's a bit weird for the user, that he can select a single chip.
In my case, this is not required at all, and I would like to be able to deactivate that.

Here a screensh

[2020-12-15 00:00] porkopek opened #297 "Scroll to top after navigation"
**Is your feature request related to a problem? Please describe.**
The documentation site should scroll to top after navigate to another page. Example: At the moment, if you open the Cards page and scroll to bottom, and then navigate to the Buttons page, the page loads with the scroll at the bottom. This is not expectable. The page should load with the scroll at the top.
This is a known issue with

[2020-12-15 00:08] porkopek commented on #297
This trick should be implemented too for large tables with pagination, where after click next page in the table should scroll to the top of the table

[2020-12-15 10:03] sabatex opened #300 "Table -> Inline Edit Mode (small screen)"
**Describe the bug**
The 'mud-table-cell' selectror is used for  @RowEditingTemplate(item) and @RowTemplate(item) - > MudTable.razor.

Perhaps adding selector 'mud-table-cell-edit' for the @RowEditingTemplate(item)  will fix the situation?

**Screenshots**
<img width="509" alt="Table - MudBlazor Microsoft​ Edge 15 12 2020 11_48_34" src="https://user-images.githubusercontent.com/28345810/102199328-

[2020-12-15 11:39] chatcoda opened #301 "DatePicker click doesn't open the picker"
**Describe the bug**
When you have a MudDatePicker without a Value (e.g. `<MudDatePicker Label="Choose a date" />`), clicking on the label doesn't open the picker. Same if you click on the calendar icon.

**Important note**
The label bug does not appear in v1.2.0, but at the current stage of development.
The icon bug/enhancement appears in all versions.

**Expected behavior**
Clicking anywhere in

[2020-12-15 15:30] #245 closed

[2020-12-15 15:31] Garderoben commented on #245
I added so they take the color from text-primary for now, the charts will get more functions/support in the feature.

![image](https://user-images.githubusercontent.com/10367109/102235528-b4b99100-3ef2-11eb-8de4-b26f14bb752e.png)

[2020-12-15 17:03] Garderoben commented on #301
Icon fix: https://github.com/Garderoben/MudBlazor/pull/239

[2020-12-15 23:15] porkopek commented on #286
Fixed

[2020-12-15 23:15] #286 closed

[2020-12-16 00:01] mikes-gh opened #307 "Add StyleCop.Analyzers to repo for code consistency"
**Is your feature request related to a problem? Please describe.**
This is a big big project with several contributors.
The only check on coding style is indent 4 spaces from editor.config.

**Describe the solution you'd like**
We should add nuget package https://github.com/DotNetAnalyzers/StyleCopAnalyzers
It gives all the usual white space warnings and coding styles with code fixes that are a cl

[2020-12-16 08:16] #293 closed

[2020-12-16 08:22] henon commented on #296
@haefele actually, the ChipSet's whole purpose is to provide selection for a couple of chips. Can you tell me what other purpose ChipSet has for you? Because you can also just use chips in a different container and they will not be selectable. See the examples at https://mudblazor.com/components/chips

[2020-12-16 08:23] henon commented on #275
this question comes up so often that I am adding a OnRowClick callback to table

[2020-12-16 08:44] luifer commented on #275
Sorry I have not come back earlier.

Thanks for your reply / enhancement.

I had seen the SelectedItemChanged but somehow thought that it would triggers when a row was selected with the checkbox or after it was edited.

[2020-12-16 08:45] henon commented on #275
it is not optimal, someone pointed out that it fires not if you click the same row twice as this would not change the selected item. that's why I just added the event callback

[2020-12-16 08:50] luifer commented on #275
When do you think a release will come out with this enhancement? Not urgent for me at the moment but it will be nice to have.

Thanks

[2020-12-16 08:51] henon commented on #275
I think end of the week or so. We try to release weekly.

[2020-12-16 08:55] haefele commented on #296
Yeah, right. After looking at the docs you linked, yep.
For some reason I was very focused on the ChipSet and didn't even think about just using Chips in my situation.
But now it makes a lot of sense.

Thanks for your help.

And thanks for your work on MudBlazor.
I've just recently started learning Blazor, and looked at a couple UI-libraries in the process.
MudBlazor stood out with nice and consis

[2020-12-16 08:55] #296 closed

[2020-12-16 09:20] otahirs opened #308 "Switch to minutes in TimePicker after hour is selected"
**Describe the solution you'd like**
In other implementations of time picker e.g. one for alarm on my android phone, if user selects the hour, then he is transitioned to pick the minutes. In MudBlazor user stays in the hour selection.

I think adding these lines
[code]
to the `OnMouseClickHour` function should be sufficient.
https://github.com/Garderoben/MudBlazor/blob/82721962ccee6066b9614ccf3f7f

[2020-12-16 09:29] henon commented on #275
Usage (this is a unit test component):
You get the MouseEventArgs, the MudTr and the item of that row via the event args

[code]

[2020-12-16 09:33] otahirs opened #309 "Missing DateRangePicker"
MudBlazor is missing DateRangePicker

**Describe the solution you'd like**
https://demos.telerik.com/blazor-ui/daterangepicker/overview

[2020-12-16 09:36] luifer commented on #275
great thanks!

[2020-12-16 09:59] mikes-gh opened #310 "Browser back button needs pressing twice in mobile"
using develop HEAD or mudblazor.com so not a new bug.

**Describe the bug**
You need to press back button twice in mobile view.

**Expected behaviour**
One click of  back button should navigate to previous page

**Screenshots**
![Kapture 2020-12-16 at 09 50 41](https://user-images.githubusercontent.com/16208742/102333380-3e19a380-3f85-11eb-9986-2e7cb7f225f5.gif)

[2020-12-16 10:32] mikes-gh commented on #310
https://github.com/Garderoben/MudBlazor/blob/1b72f62e3e55695b0aab9aba4e162383be2ab97d/src/MudBlazor/Components/NavMenu/MudNavLink.razor.cs#L28. Maybe related

[2020-12-16 11:18] nunomaia commented on #295
If I have time in the next few weeks I will give a try.

[2020-12-16 12:11] mikes-gh commented on #310
https://stackoverflow.com/questions/60653318/how-to-prevent-default-navigation-for-blazor-navlink-component
MudNavLink is wrapping NavLink but is not preventing the default href click.
In Mobile we do some code to open close drawer and navigate manually which happen IN ADDITION to the anchor tag being clicked so 2 lots of navigation.

Investigating..........

[2020-12-16 12:14] #297 closed

[2020-12-16 13:52] mikes-gh commented on #310
As discussed this solve if MudDrawer logic is taken out of MudNavLink.
The problem remains though if onclick is handled it will be in ADDITION to the navigation to href

[2020-12-16 14:16] otahirs opened #311 "Layout templates from documentation are not accessible"
**Describe the bug**
The `<> Show/Copy Wireframe` buttons do not work
https://mudblazor.com/getting-started/wireframes/

**Expected behavior**
The button navigates to code/template

[2020-12-16 14:19] Garderoben commented on #311
I know, i have a fix for it locally will commit soon and update it when the new version comes out.

[2020-12-16 15:26] mikes-gh opened #312 "Strange styling in Safari at macOS"
**Describe the bug**
On desktop using recent version of macOS and Safari Version 14.0.1 (16610.2.11.51.8) I get the attached styling artifact.  The dev tools in safari say its the element

.docs-nav-fader {
    display: block;
    position: fixed;
    width: 232px;
    height: 40px;
    background-image: linear-gradient(to top,rgba(255,0,0,0),var(--mud-palette-drawer-background));
    z-index: 100

[2020-12-16 18:03] RicardoValero95 commented on #295
It would come in handy, because right now I do something like the following. I know it's scuffed.
[code]

[2020-12-16 18:03] porkopek commented on #312
Related https://stackoverflow.com/questions/38391457/linear-gradient-to-transparent-bug-in-latest-safari

[2020-12-16 18:11] henon commented on #295
it is very easy to implement.
- [ ] add a parameter `bool Loading` which controls whether or not the progressbar is shown
- [ ] add a parameter `string LoadingText`
- [ ] add the linear progress bar to the table just below the header row? or at the top? only if `@Loading`

[2020-12-16 18:13] porkopek commented on #312
@mikes-gh Try this

[code]

instead of the current rule for .docs-nav-fader background-image

[2020-12-16 18:22] RicardoValero95 commented on #295
I was going for an empty table with the Skeleton component instead of a progress bar.
I think this isn't high priority, but a best practices / examples would be pretty nice.

[2020-12-16 19:14] mikes-gh commented on #312
Yes that works.  I am not proficient enough in css to PR that sorry.

[2020-12-16 20:08] HugCoder opened #315 "MudNavMenu active css class applied on multiple links from one URL"
**Describe the bug**
When I have a MudNavMenu inside a MatDrawer, a single URL triggers multiple active links, e.g. if I have something like this:
`<MudNavMenu>
    <MudNavLink Href="/" Icon="@Icons.Material.Home">Hem</MudNavLink>
    <MudNavLink Href="/admin/fetchdata" Icon="@Icons.Material.Cloud">Väder</MudNavLink>
    <MudNavLink Href="/admin" Icon="@Icons.Material.Dashboard">Översikt</MudNavLi

[2020-12-16 20:28] JoelW187 opened #316 "@bind-Value:event="oninput" throws exception on MudTextField and MudInput"
**Describe the bug**
Using the Blazor event binding syntax of @bind-Value:event="oninput" in a MudTextField or MudInput the following exception is thrown after every keypress:
**crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Arg_ObjObjEx
System.ArgumentException: Arg_ObjObjEx
   at System.RuntimeType.CheckValue(Ob

[2020-12-16 22:21] porkopek commented on #316
You don't need to add `@bind-Value:event="onchange"`, because that is the default behaviour, nor `@bind-Value:event="oninput"`
If you want the input value to change as you type, set the parameter `Immediate` to `true`.

[2020-12-16 22:45] haefele commented on #315
You can control if a `<MudNavLink>` should be active for the current URL by setting it's `Match` property.
For example:
[code]

You can set it to:
- **All**: Which means that **all** of the `Href` has to match the current URL so this MudNavLink gets active.
- **Prefix**: Which means that the `Href` has to match the current URL as a **prefix** (if the current URL is exactly the same as the Href, it

[2020-12-16 23:09] JoelW187 commented on #316
That makes sense , I'll try it first thing in the morning -- I wasn't aware of the Immediate property. I know that onchange is the default, I was just curious how it would behave after encountering the oninput error. Thanks for the response.

[2020-12-17 00:30] HugCoder commented on #315
@haefele Thanks a lot Daniel! That seemed to be the issue and solution. I expected it to be the default behaviour and completely missed that there was a Match property for this.

[2020-12-17 00:30] #315 closed

[2020-12-17 01:14] whoAmI-cslim opened #319 "Table passing edited object to function"
**Describe the bug**
This may not be a bug. I'm having trouble understanding the CommitEditCommandParameter with the OnCommitEditClick functions in the MudTable. I'm currently working with an editable table using RowEditingTemplate. When I finish editing, I need to pass the new model information to an HttpClient function; however, I can't seem to pass the entire object. If I create my own button i

[2020-12-17 08:37] #316 closed

[2020-12-17 08:40] henon commented on #319
@HClausing can you handle this issue please?

[2020-12-17 08:48] #236 closed

[2020-12-17 08:58] henon commented on #261
I see you have worked on this. Can you make a pull request please?

[2020-12-17 09:17] Niputi commented on #261
I can but I didn't get icon option working

[2020-12-17 09:57] AFAde commented on #260
Some new info: apparently it seems related to the browser and not to the 1.2.0 version. On Firefox, the scroll bar is visible, on Chromium-Based browsers (Google Chrome, Edge) it is visible only if you zoom out the page view to 90%

![image](https://user-images.githubusercontent.com/9824814/102472478-9c628700-4056-11eb-9d5f-55d433fe37fb.png)

[2020-12-17 10:54] AFAde opened #321 "Scheduler control"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a scheduler control, namely an advanced calendar control where it is possible to create, display, and edit scheduled appointments.

**Describe the solution you'd like**
For example:
[devexpress](https://docs.devexpress.com/Blazor/401179/scheduler)
[ant-design](https://ant-design-blazor.github.io/en-US/compo

[2020-12-17 11:22] HClausing commented on #319
Hello @whoAmI-cslim.

I'll suggest you two small changes, and explain why:

**1)** Change OnCommitEditClick Handler to CommitEditCommand (ICommand). This is because OnCommitEditClick Handler doesn't work with the CommitEditCommandParameter.

**2)** Keep CommitEditCommandParameter null. When it's null, the CommitEditCommand automtically pass row-level item model as Parameter.

So, try this example:

[2020-12-17 11:47] HClausing commented on #319
Created #323

[2020-12-17 11:52] #261 closed

[2020-12-17 13:10] whoAmI-cslim commented on #319
@HClausing Thank you for the rapid response. I've been pulling my hair out trying to figure this out. Is there anyway to simply pull the generated context model without using an ICommand? I'm fairly new to C# and Blazor and am struggling to wrap my small brain around the ICommand, lol.

I'll keep doing research to figure out how to "initialize my ICommand class and handle its Executed method".

Ag

[2020-12-17 15:18] juhapehkonen-navium opened #325 "Using both Label and Placeholder properties in a MudTextField"
Not sure, if this is a bug or by design, but when both Label and Placeholder properties have a value, the MudTextField component looks a bit "messy". See [example here](https://try.mudblazor.com/snippet/mabGPhlp09F4BH5S41). Once MudTextField receives focus, it looks fine as the label is moved back to its place.

Is there a way to tell MudTextField not to show its label inside the text field?

[2020-12-17 15:50] Villawhatever opened #326 "MudDivider Vertical="true" documentation lacking"
**Describe the bug**
`<MudDivider Vertical="true" />` does not render a divider at all. Same is true with or without `FlexItem="true"`

**Expected behavior**
`Vertical="true"` should provide a vertical divider.

**TryMudBlazor**
https://try.mudblazor.com/snippet/cubmFVbp50BPU5Pk26

**Screenshots**
https://i.imgur.com/lHI9tKm.png

[2020-12-17 16:07] Villawhatever commented on #326
After looking at source, it looks like the problem here is actually documentation. Divider's parent seems like it *has* to be a flex (e.g. `Class="d-flex"` or similar) in order to function properly. This isn't mentioned anywhere.

[2020-12-17 17:20] HClausing commented on #319
If you wanna to learn and implement the ICommand interface, there's how it's done on MudBlazor Docs:

[https://github.com/Garderoben/MudBlazor/blob/develop/src/MudBlazor.Docs/Utilities/SampleCommand.cs](https://github.com/Garderoben/MudBlazor/blob/develop/src/MudBlazor.Docs/Utilities/SampleCommand.cs)

It's simple, and usefull. Personally, I prefer ICommand than handlers because they work with Dat

[2020-12-17 19:50] whoAmI-cslim commented on #319
@HClausing you're amazing! Thank you again for the assistance! I have a recommendation I'll post as a future item in another post related to all of this.

Thank you again for everything!

[2020-12-17 20:41] HClausing commented on #319
Thanks @whoAmI-cslim , I'm Glad for helping

[2020-12-17 21:07] Garderoben commented on #310
Fixed with commit: https://github.com/Garderoben/MudBlazor/commit/05207822c05371de891ae23ebd2fdad19e71f006
Will be in next release.

[2020-12-17 21:21] Garderoben commented on #292
Fixed will be in next release.

[2020-12-17 23:30] ducman opened #328 "Tags/Token input field component"
**Is your feature request related to a problem? Please describe.**
An input field component that allows the user to type tags/tokens. It's kind of like the chip/chipset but this is actually an input field where the value can be posted back to the server.

**Describe the solution you'd like**
Here is a bootstrap [example](https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/).

[2020-12-17 23:46] Garderoben commented on #274
We talked about this, asked for input from different people but the expected behavior for now will be that if the drawer is set to open, it will display as closed on mobiles.

The issue with the toggle button on initial is fixed in this release 1.2.1

[2020-12-17 23:46] #274 closed

[2020-12-18 00:10] Garderoben commented on #310
Fixed in 1.2.1

[2020-12-18 00:10] #310 closed

[2020-12-18 00:11] Garderoben commented on #292
Fixed in 1.2.1

[2020-12-18 00:11] #292 closed

[2020-12-18 00:12] Garderoben commented on #311
Fixed now https://mudblazor.com/getting-started/wireframes

[2020-12-18 00:12] #311 closed

[2020-12-18 00:12] Garderoben commented on #289
Live now: https://mudblazor.com/getting-started/installation

[2020-12-18 00:12] #289 closed

[2020-12-18 00:16] Garderoben commented on #275
Fixed in 1.2.1

[2020-12-18 00:16] #275 closed

[2020-12-18 00:19] Garderoben commented on #259
Fixed in 1.2.1

[2020-12-18 00:19] #259 closed

[2020-12-18 00:20] Garderoben commented on #255
Fixed in 1.2.1

[2020-12-18 00:20] #255 closed

[2020-12-18 00:20] Garderoben commented on #251
Fixed in 1.2.1

[2020-12-18 00:20] #251 closed

[2020-12-18 00:20] Garderoben commented on #156
Fixed in 1.2.1

[2020-12-18 00:20] #156 closed

[2020-12-18 00:31] Garderoben commented on #312
Its only in docs not the lib, so updated now thanks @mikes-gh and @porkopek
https://mudblazor.com/

[2020-12-18 00:32] #312 closed

[2020-12-18 01:16] whoAmI-cslim commented on #319
Sorry to keep this post alive. I re-created your SampleCommand.cs for my purposes and I'm running into an issue. It's returning a null value. It's most likely that I'm not interpreting/understanding the ICommand correctly.

Error on Put request is

[code]
I noticed that there is a warning in the build that says
[code]

Something tells me I'm not implementing this correctly, lol.

[2020-12-18 01:17] HClausing commented on #319
Can I see some of your code? Maybe a sample repository on Github ?

[2020-12-18 01:23] whoAmI-cslim commented on #319
Sure! I think I snagged the pertinent stuff...

**EditTeamCommand.cs**
[code]

**AddTeams.razor (pertinent code)**
[code]
[code]

[2020-12-18 02:00] whoAmI-cslim commented on #319
Well, I'm an idiot. I found one error on my part...misspelled 'parameter' in the EditTeamCommand.cs.

Fixed that.

Now no longer receiving the error about the function not being used; however, still receiving a null parameter value with the return. Investigating further...

[2020-12-18 04:21] chatcoda commented on #301
Yes, v1.2.1 fixes the icon issue.
I'm now able to provide a snippet for the label bug : https://try.mudblazor.com/snippet/calGbWYI194pqY4P29

[2020-12-18 11:19] HClausing commented on #319
Hello @whoAmI-slim

I'm sorry. I completely forgot about a bug on parameter passing on CommitEdit Command executing. It's already fixed but it's present only on 1.2.1 release (released a few hours ago). Please update your project package reference to this version and let me know if it works.

About the CS0067 warning, it's shown because in fact the CanExecute always returns true intead of calling

[2020-12-18 11:25] porkopek commented on #325
You're right! This is a bug. I'll make a PR to fix it

[2020-12-18 13:42] whoAmI-cslim commented on #319
@HClausing This was EXTREMELY helpful thank you! I now understand the ICommand use, lol. I updated to the newest version and parameter passing is working as intended.

I made a few modifications to how the parameter was used to better facilitate the mongoDB calls. Not sure if you would like details for a use case or not. If so, I'll drop them into a GitHub repo and share. Let me know!

**use of pa

[2020-12-18 16:04] HClausing commented on #319
Hello @whoAmI-cslim ,

I'm really happy by helping you on ICommand learning. Enjoy this new feature!

NOTE: You don't need to create new ICommand base classes for every part of your app. Instead, you can create a generic / base ICommand implementation, like the SampleCommand and use it everywhere, because every instance of the class can assing its own action on constructor. Ex:

[code]

I hope tha

[2020-12-18 16:07] whoAmI-cslim commented on #319
@HClausing Absolutely! I've never worked with ICommand and I like how you guys implemented it!

Definitely loving MudBlazor! I hope I can contribute more as I work through my current project!

[2020-12-18 16:28] HClausing commented on #319
Nice!

Feel free to join to the talking on [Gitter](https://gitter.im/MudBlazor/community) community.

Regards.

[2020-12-18 21:07] nilssol opened #336 "Scrolling on iPad does'nt work as expected"
**Describe the bug**
When vertical scrolling a page from iPad,  it stutters and does'nt work as expected.

(tested with Safari and Chrome)

**Expected behavior**
Smooth scrolling (works perfekt on android phone and pc)

[2020-12-19 04:31] Christian-Oleson commented on #307
Why not add more to the editor config instead of style cop?

[2020-12-19 09:54] mikes-gh commented on #307
roslyn analyzers are much more powerful . They supply automatic fixes via light bulb and code cleanup and run on ci builds

[2020-12-19 15:24] nilssol commented on #336
Did some more testing :

iOS 12.4

- problems with scrolling and expansionpanels.

iOS 14.2

- problem gone

[2020-12-19 19:55] henon commented on #197
Done.

[2020-12-19 19:55] #197 closed

[2020-12-20 22:24] lindespang commented on #177
No this is not related to Blazor at all. Also seems to work fine now on the docs site. Issue can be closed @Garderoben

[2020-12-21 09:33] shareonline opened #352 "multible MudDrawers, one as main?"
If wanting left side muddrawer to be Clipped="false" and the right drawer to be clipped true (with overlay), the css margin should follow the left, and not the right drawer.
In this scenario I wanted the left drawer to be the main one, which should push out the content on the page. Where the right drawer should be an overlay only showing when clicked opened by the user.
Is this possible to impleme

[2020-12-21 09:38] shareonline opened #353 "MudMenu scrollable on large item lists"
**Is your feature request related to a problem? Please describe.**
If making a MudMenu contain a lot of items, on small screens it doesn't scroll vertically.

**Describe the solution you'd like**
It would be nice with some configuration options, that could turn vertical scroll on/off for large menu lists. Maybe the mudmenu could have a max height of something and then vertically scroll afterwards.

[2020-12-21 12:23] #352 closed

[2020-12-21 12:26] shareonline opened #354 "Double Drawers not working on mobile viewport"
**Describe the bug**
It can also be seen on the examples for double drawers.
If you go to mobile viewport (hit refresh to ensure no events have been triggered on the drawers). Then click on the right drawer button, you will see both drawers opening, where you can't close the right one.

**Expected behavior**
Only the right drawer should open on first click.

**TryMudBlazor**
https://mudblazor.com/

[2020-12-21 13:55] Sesi0 opened #355 "MudAvatar not scaling text"
**Describe the bug**
When using the MudAvatar with text and small size it does not scale the text and crops the other part.

**Expected behavior**
It should scale the content inside the MudAvatar based on the size's parameter.

**TryMudBlazor**
https://try.mudblazor.com/snippet/wubmmlln53pqk55L17

**Screenshots**
![image](https://user-images.githubusercontent.com/10748411/102784258-d01a1580-43a4-1

[2020-12-21 15:35] Codinkat opened #356 "Add custom action button on Snackbar"
Many times we need to display a custom action button along with the message of a snackbar. For example, let's say we display a snackbar with message "A critical error has occurred", we would want to display at the end side of the snackbar a button labeled "Submit Bug" (or "Show Log", etc.). Of course, we can set a handler on the OnClick of the Snackbar, but for the final user, it is not intuitive

[2020-12-21 22:59] porkopek commented on #212
@henon I think this is not so easy, because the intention of @jinghua395 is that the `MudAutocomplete`,  which receives `tabindex = -1`,  won't be focused when tabbing. But if who receives the `UserAttributes` is the `MudInputControl`, the select, even so, will receive the focus in the input. By default, the elements receiving the focus are the inputs. So in order to prevent the select from receiv

[2020-12-22 05:41] georgeemr opened #359 "Select with many items not scrollable"
**Describe the bug**
When a select has too many items, it cannot be scrolled.
![image](https://user-images.githubusercontent.com/3822009/102853377-d977a200-43e5-11eb-866a-cc9ea25c0f44.png)

**Expected behavior**
Select must have scrollable content.
![image](https://user-images.githubusercontent.com/3822009/102853462-fa3ff780-43e5-11eb-9fc0-43fb38304fe0.png)

[2020-12-22 06:18] andreaslysell commented on #307
Things have come a long way in the last year or so. Editor Config now can enable the most of the style rules that StyleCop does. I think a good inspiration for a .editorconfig is the one used for Roslyn itself.

https://github.com/dotnet/roslyn/blob/master/.editorconfig

Not necessarily all the rule settings (matter of opinion and all that), but the choice of rules is a pretty good starting point.